[2014-05-26 15:02] rakyll opened #1 "Add App Engine implementations"

[2014-06-12 22:04] rakyll opened #2 "Add README"

[2014-06-12 22:04] rakyll opened #3 "Migrate to repo to golang Github org"

[2014-06-12 22:06] rakyll opened #4 "Improve test coverage"
[code]

[2014-06-12 22:07] rakyll opened #5 "Deprecate code.google.com/p/goauth2"

[2014-06-17 12:55] rakyll opened #6 "Caching should be done at the transport level"
Config-level caching makes it impossible to provide token caching with multi user programs.

[2014-06-22 22:43] #6 closed, assigned to nobody

[2014-06-22 22:43] #1 closed, assigned to nobody

[2014-06-28 00:05] #2 closed, assigned to nobody

[2014-07-07 03:01] #3 closed, assigned to nf

[2014-07-07 16:08] rakyll opened #7 "Support client credentials grant type"
http://tools.ietf.org/html/draft-ietf-oauth-v2-31#section-1.3.4

Allowing TokenFetcher to retrieve a token without a refresh token if grant type is set to `client_credentials`  would solve the issue.

[2014-07-08 21:04] rakyll opened #8 "Caches should be Transport implementations"
@proppy gave some feedback about caching. `Cache` interface doesn't have flexibility to support multiple users. Rather than providing another Cache interface with token identification such as

[code]

we should wrap the authorizedTransport with a cacher transport.

[code]

FileCacheTransport's RoundTripper could handle token caching.

[2014-07-08 21:20] rakyll opened #9 "Support user provided scopes for GCE"

[2014-07-08 21:30] rakyll opened #10 "Avoid using http.DefaultTransport which is not available on App Engine"

[2014-07-09 05:38] #9 closed, assigned to nobody

[2014-07-14 22:54] #10 closed, assigned to nobody

[2014-07-20 19:04] ahmetb opened #12 "Prefix surfaced validation errors with "OAuth2Error:" or "oauth2:""

[2014-07-20 19:19] ahmetb opened #13 "Parse Config.AuthURL in advance"
![image](https://cloud.githubusercontent.com/assets/159209/3638307/6c018c8c-1042-11e4-9248-6157e7d4c5e3.png)
https://github.com/golang/oauth2/blob/7935ece62b5df7d253af014bd27b272c4ba62587/oauth2.go#L106

If you validate if  `authUrl`  is parsable in `validate()` (https://github.com/golang/oauth2/blob/7935ece62b5df7d253af014bd27b272c4ba62587/oauth2.go#L167) `AuthCodeURL` methods signature can be `e

[2014-07-21 23:47] #13 closed, assigned to nobody

[2014-07-30 00:57] nf opened #16 "Provide means to load private key from custom sources"
Currently `oauth.JWTOptions` has a `PemFilename` field that `oauth.NewJWTConfig` uses to read in the key. It's likely that people will want to supply their own key mechanism. Maybe there should be another field `PemKey []byte` which is used if non-nil.

[2014-08-04 22:26] derekperkins opened #19 "Can't Add Multiple Scopes for App Engine"
[code]

I tried following the scope creation through the NewAppEngineConfig process, and it shows that in AuthCodeURL, it joins the scopes together with spaces. When I try passing through multiple scopes in the first string space delimited, it gives me the same error and passing through a slice of scope strings.

[code]

[2014-08-05 19:27] #19 closed, assigned to nobody

[2014-08-06 19:43] rakyll opened #20 "google: Support service account JSON key file"
Google Developers Console now allows you to download the generated private key and service account email bundled in a JSON file. We should support this file rather than requiring user to convert p12 to pem.

[2014-08-11 07:32] cnbuff410 opened #21 "How are we supposed to use appenginevm.go?"
I was trying to use it in my managed vm project by doing standard "go get" way, and there are two issues

1 When I try to deploy my code, it always compile appengine.go instead of appenginevm.go and complains about the lack of "appengine" import. I have to manually remove appengine.go, and then remove the build tag in appenginevm.go, to make the compilation happy.

2 Then I get the client and send

[2014-08-11 16:57] rakyll opened #22 "Minimize dependencies to Transport"
Allow users to manage tokens without initializing a transport. It could be useful to write standalone token managing programs.

[code]

https://codereview.appspot.com/125940044/

[2014-08-11 23:34] #22 closed, assigned to nobody

[2014-08-12 06:28] #16 closed, assigned to nobody

[2014-08-12 15:18] bradfitz opened #23 "omitempty is spelled wrong"
I think these were meant to be "-" and not "omit":

http://godoc.org/github.com/golang/oauth2#Options

Or maybe somebody confused it with omitempty (which is spelled ",omitempty" with comma between name and the option).

[2014-08-12 15:22] bradfitz opened #24 "does TokenFetcher mutate its argument?"
The type TokenFetcher doesn't document whether it's expected to mutate its input parameter.

That seemed counter-intuitive that the input was mutated and then returned. Seemed unnecessary to even return it if that's the way they're expected to work.

Also I wasn't sure at first whether existing could be nil. It seems like that's never allowed.

[2014-08-12 15:24] bradfitz opened #25 "JWTOptions doc issues"
http://godoc.org/github.com/golang/oauth2#JWTOptions

-- Email is documented as being ClientID.
-- PrivateKey's docs don't start with "PrivateKey ...", per Go doc style.
-- PemFilename should be PEMFile per https://code.google.com/p/go-wiki/wiki/CodeReviewComments#Initialisms
-- why force an on-disk file, though?  Go's all about io.Readers. Making your interface require an on-disk file (which Caml

[2014-08-12 15:26] bradfitz opened #26 "Options.Scopes should be omitempty"
The Options.Scopes field should probably be "scopes,omitempty".

And its doc style should be more like "Scopes optionally specifies a list of requested permission scopes."

[2014-08-12 15:36] bradfitz opened #27 "Should not hard-code http.DefaultClient"
This package seems to assume that http.DefaultClient will be present and work.

That is not the case in many environments.

That needs to be configurable.

[2014-08-13 20:25] #23 closed, assigned to nobody

[2014-08-13 21:07] #26 closed, assigned to nobody

[2014-08-15 21:01] #24 closed, assigned to nobody

[2014-08-18 20:13] #25 closed, assigned to nobody

[2014-08-23 02:22] leefernandes opened #28 "invalid_grant"
Using the same credentials & .pem that are working in other googleapi libraries with example_test.go Example_jWTConfig, I am getting "invalid_grant", and "Cannot fetch token, response: 400 Bad Request" errors.

The only things I'm not 100% confident about are how the PrivateKey is meant to be passed, and what audURL is expected to be.  I'm currently reading the .pem w/ ioutil, assigning the []byte

[2014-08-23 03:08] #28 closed, assigned to nobody

[2014-08-26 09:51] sqs opened #29 "Can't obtain other fields (e.g., granted scopes) associated with access token"
Some OAuth2 provider implementations include additional fields with the access token.

For example, on GitHub, soon users will be able to edit the scope they grant to applications. This means that an access token's `scope` might not match what was requested by the application. To determine the actual granted scope, the application should read the `scope` property returned alongside the access toke

[2014-09-04 04:46] #27 closed, assigned to nobody

[2014-09-04 17:29] rakyll opened #33 "Package assumes fields not required by RFC6749 required"
- Auth Code URI generator assumes the following optional or recommended fields are required.
  - redirect_uri and scope are optional. state is recommended therefore should be optional.
  - client_secret is allowed by the spec to be an empty string.
- Access Token Request:
  - redirect_uri is required only if Auth Code URI contained it. So, the package should assume that it's optional and misuse sh

[2014-09-04 17:43] rakyll opened #34 "Remove Auth Code URI options from oauth2.Options"
access_type and approval_prompt are optional query parameters to append to the Auth Code URI. They shouldn't be set at the Config level. (*Config).AuthCodeURL can ask for additional arguments.

[2014-09-04 18:28] #20 closed, assigned to nobody

[2014-09-05 00:43] #33 closed, assigned to nobody

[2014-09-05 06:32] #34 closed, assigned to nobody

[2014-09-06 15:36] hknauer opened #35 "use variadics for scope arguments throughout"
Something very minor I just stumbled upon while using the package for the first time.

func NewAppEngineConfig(context appengine.Context, scopes []string) *AppEngineConfig
-> scopes given as slice

NewServiceAccountJSONConfig(filename string, scopes ...string) (*oauth2.JWTConfig, error)
-> scopes given as variadic argument

Should be identical imho. I'd prefer slices.

[2014-09-08 02:09] adg opened #38 "make sure it works with Facebook"
[This goauth2 user](https://code.google.com/p/goauth2/issues/detail?id=42) reports that Facebook returns token expiry in the `expires` field instead of `expires_in`. :cry:

We should handle it.

[2014-09-08 21:38] #21 closed, assigned to nobody

[2014-09-11 18:45] timosaur opened #40 "LinkedIn OAuth2 Login fails to get token, requires client_secret as parameter"
LinkedIn fails on retrieveToken ("https://www.linkedin.com/uas/oauth2/accessToken")
Returns this:

[code]

This change introduced the problem:
https://github.com/golang/oauth2/commit/bb8496880f7e4671902be4e7251f40d971c5d535

Linkedin needs to be added to the list of busted auths in providerAuthHeaderWorks function.  They require "client_secret" as a parameter, instead of taking it as basic auth he

[2014-09-12 01:57] #40 closed, assigned to nobody

[2014-09-24 15:05] nikolay-turpitko opened #41 "Check PayPal and VKontakte"
Hi guys,

I've just stumbled upon your lib and it seems active and most code reused from goauth2.
So, may I ask you to review my small changes for goauth2, that I make to use it with LinkedIn, PayPal and VKontakte and to decide if they are relevant for your lib?

Here is the diff: https://code.google.com/r/nikolay-goauth2/source/diff?spec=svn90e22c7acbc4a815996ec16c939f11f83a4abf6c&r=90e22c7acbc4a

[2014-10-06 15:01] paddycarver opened #44 "Support Dockerized access to metadata server"
Because the metadata server host for GCE is hardcoded in https://github.com/golang/oauth2/blob/8f816d62a2652f705144857bbbcc26f2c166af9e/google/google.go#L106, this library can't use service accounts from within Docker. If attempted, it throws the following error:

`Get http://metadata/computeMetadata/v1/instance/service-accounts/default/token dial tcp: lookup metadata: no such host`

If the hardco

[2014-10-12 09:04] abh opened #46 "Helper function to decode id_token"
The jws package can decode the id_token, but only the standard fields (I think it is).

Specifically I am missing an easy way to decode the email and email_verified from the google oauth2 service.

Currently I am just duplicating the base64 padding and base64 + json decoding, but that seems pretty goofy when it's already ... almost ... done.

It looks like there's some support for this in jws (Pri

[2014-10-13 06:04] #46 closed, assigned to nobody

[2014-10-21 09:18] #35 closed, assigned to nobody

[2014-10-21 17:14] #44 closed, assigned to nobody

[2014-10-21 22:31] #38 closed, assigned to nobody

[2014-10-28 03:26] #29 closed, assigned to nobody

[2014-11-10 04:09] #12 closed, assigned to nobody

[2014-11-10 20:03] snikch opened #51 "expires_in taking precedence over expires"
It seems that `expires_in` values are taking precedence of `expires` values, which seems incorrect to me. `expires` should be the canonical value that the provider stores, using `expires_in` with a `time.Now()` call will create a value that is incorrect by the time from the provider creating the token, and the consumer processing the response.

Happy to swap them about and create a PR, just wanted

[2014-11-11 20:51] korya opened #53 "AuthCodeURL() modifies flow's URL instead of creating a new object"
The most recent commit (https://github.com/golang/oauth2/commit/0cf6f9b144f92af7a901094e39b22c310f4ea2cd) introduced an undocumented change to `AuthCodeURL()` semantics. I expected it just to generate a new url string based on the information stored in `flow`, but it actually changes the state of the `flow` object otself.

In order to allow users to login with their Google accounts, I use the foll

[2014-11-12 00:38] #53 closed, assigned to nobody

[2014-11-12 02:06] #51 closed, assigned to nobody

[2014-11-12 05:40] abursavich opened #54 "Support request cancellation"
I think it would be nice if the oauth2.Transport supported request cancellation when the underlying http.RoundTripper does. It was brought up in the #8 discussion, but it's a separate issue. This is required to support Timeout in an http.Client.

I made a [proof of concept](https://gist.github.com/abursavich/ec5d1cf2be49ec9fec38) a while back and would be willing to contribute updated code if desi

[2014-11-18 23:31] #8 closed, assigned to nobody

[2014-11-29 06:29] Sean-Der opened #58 "Why is newTransportFromToken not exported?"
Hi!

I am using oauth2 in a project, and am currently storing the marshalled Tokens.

It would be nice if I could just unmarshall those tokens, and then call newTransportFromToken, but I assume it is not exported for a specific reason?

I can't seem to find a way to take a single token, and create a transport from it currently. Is there a suggested way to do that?  I looked a little bit at ReadTok

[2014-11-29 06:47] #58 closed, assigned to nobody

[2014-12-02 00:09] rakyll opened #60 "Move google package elsewhere"
We need to remove the non-spec bits from the oauth2 tree, we might rather have a google.golang.org package to provide Google related options.

[2014-12-02 00:48] rakyll opened #61 "Move Options type to a separate package"
Exporting the Options type from the oauth2 package is likely to confuse the end-user. The Option types contributor has to know about the separate package, but the end-user doesn't have to.

[2014-12-11 04:14] aliafshar opened #62 "Can't use service account config without appengine"
Wouldn't it be nice to have appengine/vm parts separate from the more generic google parts?

[2014-12-11 04:16] #61 closed, assigned to nobody

[2014-12-11 05:08] #62 closed, assigned to nobody

[2014-12-12 00:06] mateusbraga opened #63 "Add support for javascript oauth2 scenario"
I have a particular case where I got the access token using a Javascript client-side scenario (https://developers.google.com/accounts/docs/OAuth2, https://developers.google.com/accounts/docs/OAuth2UserAgent). When my backend receives the token, I need to check if it is valid and if is for my clientID (No client secret here), then use it to perform requests.

I was not able to get this package to w

[2014-12-13 10:10] hknauer opened #65 "Add possibility to set deadline on GAE urlfetch.Transports"
I originally switched from https://code.google.com/p/goauth2 to this library because it provided the possibility to set the Deadline property of urlfetch.Transport, which is essential when dealing with larger files on GCS.
Unfortunately this is no longer possible in the current implementation with just the one function

    func AppEngineContext(ctx appengine.Context) oauth2.Option

I propose a ne

[2014-12-16 06:27] bradfitz opened #66 "make it easy to create an *http.Client from the google package"
Tracking bug to make the golang.org/x/oauth2/google package have funcs to return *http.Clients in addition to the TokenSource ones.

And/or maybe we should (in the oauth2 package) have:

package oauth2
func NewClient(ctx Context, src TokenSource) *http.Client { ... }

... which uses the unexported func contextTransport.

/cc @adg

[2014-12-18 09:55] szalansky opened #69 "Latest version stopped working: undefined oauth2.New"
Together with a friend of mine we're doing a small app that uses oauth2. I started development around week ago and everything cracked. He joined me yesterday and because we didn't lock the dependencies, he fetched the latest version of the library which causes following errors to occur when starting the server:

[code]

I fetched the latest version and I get exactly the same errors. We figured out

[2014-12-18 11:43] #69 closed, assigned to nobody

[2014-12-19 06:00] cnbuff410 opened #70 "oauth2 is not compatible with Go 1.2?"
I'm using Managed VM Go runtime and it still only supports 1.2.2 . When I compile the code I got following error:

unknown net.Dialer field 'KeepAlive' in struct literal

I searched online a little bit and seems like it's Go pre1.2 issue. Go 1.3 fixed it, but not supported by Managed VM yet.

Any suggestion on workaround or I have to wait for 1.3 support?

[2014-12-21 05:43] #54 closed, assigned to nobody

[2014-12-21 22:10] terrywarwar opened #71 "Issue with appengine urlfetch"
I'm getting the following error with appengine.  Same issue with go 1.4beta on appengine.
golang.org/x/oauth2/client_appengine.go:28: undefined: urlfetch.NewClient

urlfetch has a function called Client.

[2014-12-21 23:33] #71 closed, assigned to nobody

[2014-12-22 01:31] terrywarwar opened #72 "oauth2 issue with appengine"
appengine storage example on https://cloud.google.com/appengine/docs/go/googlecloudstorageclient/getstarted uses the following code:

opts, err := oauth2.New(
                google.AppEngineContext(c),
                oauth2.Scope(storage.ScopeFullControl),
        )

I get the following errors:
server.go:87: undefined: oauth2.New
server.go:88: undefined: google.AppEngineContext
server.go:89: und

[2014-12-25 10:25] willnorris opened #73 "support for parsing Google's client_secret.json"
After setting up a new credential in https://console.developers.google.com, you're given an option to "Download JSON" credentials, which results in a file of the form:

[code]

As far as I know this isn't a standard format, but I would have expected something in the `google` package to parse this into an `oauth2.Config`, somewhat similar to [`google.JWTConfigFromJSON`](http://godoc.org/golang.org/

[2014-12-31 00:36] DallanQ opened #75 "I _think_ the build comment in appenginevm.go is incorrect?"
It is // +build appenginevm !appengine

but I think it should be // +build appenginevm,!appengine  (note the comma)

I'm currently using this code in a compute-engine (non-appengine and non-appenginevm) environment, so I haven't included google.golang.org/appengine. I don't think I should need to include it. By AND'ing the two build conditions, the appenginevm.go file is excluded from the build. F

[2015-01-01 19:54] rakyll commented on #75
Do you mean you're running `go get golang.org/x/oauth2/...`? Otherwise, you cant get google package or its dependencies.

Why? Why do you care what source files that goes into the build?

As I said on the previous post, it simplifies the number of tags we have to care about. "appenginevm !appengine" builds with no tags and a no-tag go build/test covers most of the package. More importantly, appeng

[2015-01-02 16:54] DallanQ commented on #75
I ran `go get golang.org/x/oauth2` exactly as specified in this project's readme. I then ran `go get github.com/golang/protobuf/proto` to get the protobuf dependency. Are you saying that I should `go get` something else?

[2015-01-02 17:43] eboudrant commented on #72
@derekperkins @adg The Go version problem is for this error :
unknown net.Dialer field 'KeepAlive' in struct literal

What about :
server.go:87: undefined: oauth2.New
server.go:88: undefined: google.AppEngineContext
server.go:89: undefined: oauth2.Scope

Can we expect a fix soon ? I use go1.4beta on appengine.

[2015-01-02 19:50] rakyll commented on #72
server.go:87: undefined: oauth2.New

We have modified the API. See http://godoc.org/golang.org/x/oauth2/google#example-AppEngineTokenSource and modify your code accordingly.

Duplicate of https://github.com/golang/oauth2/issues/70.

[2015-01-02 19:50] #72 closed

[2015-01-02 19:51] #66 closed

[2015-01-02 19:55] rakyll commented on #60
This issue is obsolete now. We've preferred to add a github subpackage and therefore keeping the google package.

The google.golang.org/appengine dependency issue has more context on https://github.com/golang/oauth2/issues/75.

[2015-01-02 19:55] #60 closed

[2015-01-04 23:23] rakyll commented on #5
I think this issue is now blocked by https://github.com/golang/oauth2/issues/70. We need to land go1.4 to Managed VMs before we announce stability.

[2015-01-06 17:51] bradfitz commented on #5
I've sent https://code-review.googlesource.com/#/c/1670 to address #70

[2015-01-06 17:51] bradfitz commented on #70
I've sent https://code-review.googlesource.com/#/c/1670/ to make this package work with Go 1.2.

[2015-01-06 19:36] bradfitz commented on #70
And the final one: https://go-review.googlesource.com/2372

[2015-01-06 20:08] bradfitz commented on #5
Okay, can we do this now? :)

[2015-01-06 20:09] #70 closed

[2015-01-06 20:10] bradfitz commented on #41
Could you send patches against this repo instead? Ideally with tests, too.

We're going to deprecate the goauth2 code.

[2015-01-06 21:12] rakyll commented on #5
Yes.

[2015-01-15 01:07] code0x9 opened #77 "allow user to send client_secret for auth_token on any domain."
github enterprise(https://enterprise.github.com/) can run on any domain and need client_secret on auth token request.

[2015-01-15 01:10] code0x9 commented on #77
I have sent patch : https://go-review.googlesource.com/#/c/2797/
you said "The documentation and commit message are also in the wrong style.". where is your documentation & commit message style guide?

[2015-01-15 02:33] adg commented on #77
https://golang.org/doc/contribute.html

Look to the other fields of the struct for the documentation style.

[2015-01-16 20:47] rakyll commented on #75
We have came up with an alternative solution. See https://go-review.googlesource.com/#/c/2980/.

Closing the issue, App Engine implementations will not be required if you're not targeting an App Engine application.

[2015-01-16 20:47] #75 closed

[2015-01-18 03:45] gengophers commented on #75
Thanks!

[2015-01-18 14:28] code0x9 commented on #77
@adg Thank you. I have fully read contribution guide and sent patch set 1 & 2 on go-review(https://go-review.googlesource.com/#/c/2853/)

[2015-01-19 04:09] adg commented on #77
Is this a case of GitHub not adhering to the OAuth2 spec? If so, I'd prefer to ask GitHub to fix their implementation rather than pollute the oauth2 package with special cases.

[2015-01-19 04:36] code0x9 commented on #77
@adg I agree with you and know only github case, but what if these not adhering services provide "enterprise edition" which can be any domain later?
Also, I think we need some other way to bypass this issue until these 3rd party fixes their OAuth2 implements.

[2015-01-23 03:15] adg commented on #77
Assuming we won't add a configurable hook, as per the comment:

	// Assume the provider implements the spec properly
	// otherwise. We can add more exceptions as they're
	// discovered. We will _not_ be adding configurable hooks
	// to this package to let users select server bugs.

If they're publicly accessible services, we can add them to the list of exceptions.
If they're only private, you can

[2015-01-23 08:13] bradfitz commented on #77
Just fork our code and call it "enterpriseoauth2"

[2015-01-26 07:04] fixermark opened #81 "Google Cloud docs use old API"
The example of using oauth2 to access Google Cloud Storage from an App Engine application [https://cloud.google.com/appengine/docs/go/googlecloudstorageclient/getstarted] does not align with this library's methods.

[2015-01-26 08:46] karalabe opened #82 "Invalid credential on the hour"
@adg

(hunch) There's a small issue with the JWT token expiration mechanism, that kind of started hitting me during a longer run last night: there is a small time window (few secs) between the time a token expires server side and client side (I'm guessing the latency between retrieving and processing the token from the source). Unfortunately, this means, that any request executed during that time

[2015-01-26 08:53] karalabe commented on #82
Hmm, after digging through my logs, I found a failed API request for a very long running storage upload too (4.5 hours upload), where the auth failure occurred after finishing the upload (one gigantic http request I reckon), at closing the stream.

Which is a tad annoying, because now I have to upload 30GB once more :(

[2015-01-26 09:33] adg commented on #82
Ugh... can you do partial uploads, spreading the transfer over multiple requests?

[2015-01-26 09:34] adg commented on #81
cc @okdave

[2015-01-26 09:37] karalabe commented on #82
I'd rather not complicate if I mustn't :D. I'm running a test locally now with half a minute reduced expiration to see if the errors still pop up or the tokens get refreshed before they get to fail. If it works I'll do the same thing on GCE, and then I'll try and figure out why the upload choked (that doesn't really fit into the error reason).

But this is a loooooooong running task with the 1h ex

[2015-01-26 10:34] karalabe commented on #82
First report: locally running with a reduced expiration time works as intended, so the fix *seems* to have solved the issue, but let's wait for the GCE instance to reach the hour limit too.

This was the code I inserted to [jwt.go :: Token()](https://github.com/golang/oauth2/blob/master/jwt/jwt.go#L145) before returning:
[code]

[2015-01-26 11:05] karalabe commented on #82
Second report: the compute engine instance also refreshes the tokens now in time, and doesn't generate invalid credentials errors any more, so this was definitely one bug to be crushed.

Now the only weird thing I don't get is the upload failure, since that shouldn't have happened during an expired token. Nonetheless I'll wait to see how this fix pans out. I'll get back in 4-5 hours when the uploa

[2015-01-26 14:17] karalabe commented on #82
Final report: There is a second bug in there. Probably in the client-apis. Even though the token refresher works correctly now, if a storage upload exceeds the refresh threshold, I get an invalid credentials error.

[2015-01-26 18:46] rakyll commented on #82
Not a client, but a Storage API bug. A resumable upload is not supposed to return a 4xx, once you start it. I've asked to the team to fix it (again).

Mailed https://go-review.googlesource.com/#/c/3307/ for the time mismatch issue.

[2015-01-27 04:37] okdave commented on #81
Thanks, I'll take a look.
I've filed an issue on the app engine [issue tracker](https://code.google.com/p/googleappengine/issues/detail?id=11628) too.

[2015-01-27 05:15] #82 closed

[2015-01-27 16:06] karalabe commented on #82
@rakyll Fair enough. Any ideas when - if ever - the storage API is going to get fixed? Currently it's plain impossible to upload a huge file through Go because it either expires the token or DOSes the storage servers with the tiny requests.

[2015-01-27 17:52] rakyll commented on #82
We're planning to fix the resumable upload chunk size, so you can work it as a workaround in the meanwhile.

[2015-01-27 23:56] rlynjb opened #83 "asn1 structure from jwt.Config struct"
i've emailed @bradfitz regarding this bug..

i seem to be getting this error "asn1 structure error".. see image code below

http://screencast.com/t/QlJVTqnIlVdu

it seems like ive pinpoint that this error was coming from jwt.Config struct. ive followed the instructions on how to fill in the fields for token.. im wondering if this is a private key error? am i missing a step here, ive found a functi

[2015-01-28 00:05] agtorre commented on #7
I wrote a patch for this about a week ago, no word back yet, but it seems to work well for me!

https://go-review.googlesource.com/#/c/2983/

[2015-01-28 11:21] karalabe commented on #82
Yes, but since the API currently sucks a bit with the hidden chunk and ReaderAt, and is going to change in 1-2 weeks anyway, I went with a different approach. I've streamed the whole data through gsutils and let *it* figure out how to correctly upload (perverted, but works :P).

Of course it needed some massaging because the trivial approach of streaming the data into the gsutil stdin lead to a we

[2015-01-28 14:55] jfcote87 commented on #83
I duplicated the error by using an invalid PEM encoding so the problem is with the error reporting.  When internal.ParseKey encounters a PEM error, it assumes that "key" is either in a PKSC8 or PKCS1 format and attempts to parse "key" using these formats.  The error then comes from the x509.ParsePKCS1PrivateKey(key) [line 31] and isn't very helpful.

Shouldn't the Config.PrivateKey just be an rsa.

[2015-01-29 12:07] billmccord opened #84 "Cache token / transport confusion"
Hi, I'm having a really hard time figuring out how to accomplish what I want to do. Essentially, I would like to cache the access and refresh tokens so that I don't have to ask the user to authenticate every time I want to create a new client. It seems like the Transport may have been added for this purpose, but an example would make things much clearer. Thanks for the awesome library and any help

[2015-01-30 05:41] billmccord commented on #84
After digging into the code a bit more, it seems like perhaps when I'm finished using an OAuth2 Client and want to cache the token away for later reuse I could:
1) Get the Transport from the http.Client
2) Cast it to an oauth2.Transport
3) Get the TokenSource from the oauth2.Transport
4) Get the latest Token from the TokenSource
5) Save the Token
Is this a recommended approach or is there an easie

[2015-01-30 17:48] jfcote87 commented on #84
You could also just cache the Token from created from the Config.Exchange() func so that you only cache  Token once because the refresh token never expires.

[2015-01-30 18:13] billmccord commented on #84
Every time I refresh tokens on the OAuth library I'm using I get a new
refresh token. Is that not standard?
On Jan 31, 2015 1:48 AM, "Jim Cote" <notifications@github.com> wrote:

[2015-01-30 23:00] jfcote87 commented on #84
Token.RefreshToken stays the same.  Token.AccessToken changes.

See if the following gist explains it any better.

https://gist.github.com/jfcote87/89eca3032cd5f9705ba3

[2015-02-02 05:38] billmccord commented on #84
Jim, thanks for posting the gist. That was helpful, but unless I'm misunderstanding something I think there are still cases where the token could be lost. Consider that following and let me know if this is a possible scenario:
1) I retrieve the token from my datastore and, while it is valid when I check it, it only has a few milliseconds left before expiration.
2) I create the new Client with the

[2015-02-02 16:24] jfcote87 commented on #84
The RefreshToken does not change. so you don't have to worry about the background refresh.  The tokenRefresher struct stores the RefreshToken in the oldToken field and this field is not updated again.
https://github.com/golang/oauth2/blob/master/oauth2.go#L221-L227

*note that the RefreshToken field of the returned Token pointer is updated by the passed refresh token.  The tokenRefresher is not up

[2015-02-03 11:31] billmccord commented on #84
Jim, unfortunately, this does not seem to be the case. I built a test based on the tests included with oauth2 here:
https://gist.github.com/billmccord/4247b0c4d2a6b5a4d09f

You can see from my gist that if the token expires after being used to create an oauth2.Client, then another request will be made in the background to obtain a new token (new access_token and new refresh_token) before proceedin

[2015-02-03 16:22] DiogoDoreto opened #85 "Add "https://www.googleapis.com/" to providerAuthHeaderWorks()"
Trying to login with Google returns this error:

[code]

Adding `https://www.googleapis.com/` to the list of sites that fail to implement OAuth2 spec solves the problem.

[2015-02-03 18:57] jfcote87 commented on #84
I think I see where we might be talking past each other and that an actual bug exists.  I tested code using Google's client apis and their implementation of oauth2.  According to Google's [oauth documentation](https://developers.google.com/accounts/docs/OAuth2WebServer#refresh) , refresh tokens do not expire but must be revoked.  In my tests, a new refresh token is only generated during a code exc

[2015-02-04 05:41] billmccord commented on #84
Thanks for validating this. The OAuth provider I'm calling uses a library that always generates a new refresh_token and there isn't an option to not do this yet. Since it is optional, I agree, that a hook would be necessary to get the updated Token in cases where it is renewed. Since that hook doesn't exist yet, I suppose that my workaround of getting the Token from the client when I'm finished us

[2015-02-04 13:18] adg commented on #85
Sent https://go-review.googlesource.com/3873

[2015-02-04 14:06] #85 closed

[2015-02-04 14:58] rakyll commented on #84
Does the provider return a different refresh token each time you ask for a new access token?

[2015-02-04 15:08] billmccord commented on #84
Yes. You can see here that issue_refresh_token is hard-coded to true for the refresh_token grant_type:
https://github.com/FriendsOfSymfony/oauth2-php/blob/b0e57e17c84175a51af01cef7bbb2961261c84ad/lib/OAuth2.php#L840-L842

[2015-02-04 15:09] rakyll commented on #84
Their API is not complaint with the OAuth 2.0 spec, and we have no intention to support provider-specific non-spec features.

[2015-02-04 16:33] billmccord commented on #84
Two points:
1) I'm not clear on how it isn't compliant with the OAuth 2.0 spec when the spec specifically says in section 1.5 (emphasis, mine):
"   (H)  The authorization server authenticates the client and validates
        the refresh token, and if valid issues a new access token **(and
        optionally, a new refresh token)**."
2) Haven't you already?
https://github.com/golang/oauth2/blob/mas

[2015-02-05 04:37] jfcote87 commented on #84
https://tools.ietf.org/html/draft-ietf-oauth-v2-31#section-6
Section 6.  Refreshing an Access Token
(_last paragraph_, emphasis in original)

The authorization server MAY issue a new refresh token, in which case
the client MUST discard the old refresh token and replace it with the
new refresh token.  The authorization server MAY revoke the old
refresh token after issuing a new refresh token to the

[2015-02-05 04:42] billmccord commented on #84
Jim, thanks, that seems to validate that the bug lies with this project because it doesn't provide a mechanism for obtaining the new refresh_token in situations where the refresh_token is replaced during the Refreshing an Access Token operation, correct?

If so, I can file a close this out and create a more specific issue OR we can just use this to track.

[2015-02-06 14:31] jfcote87 commented on #84
Bill,
I have a CL ready that fixes the refresh token problem and will upload later today.

 @rakyll are you ok with calling this a bug?  Should we start a new issue to discuss caching difficulties?

[2015-02-07 11:41] adg commented on #84
@jfcote87 It looks like a bug to me. I think we should start a new issue to discuss caching strategies.

[2015-02-09 09:17] yugui opened #86 "Parse error of credentials file with service account"
"golang.org/x/oauth2/google".NewSDKConfig fails to decode credentials file if it contains a service account loaded by "gcloud auth activate-service-account".

The error looks like this:
oauth2/google: failed to decode SDK credentials from "$HOME/.config/gcloud/credentials": parsing time "null" as ""2006-01-02T15:04:05Z07:00"": cannot parse "null" as """.

[2015-02-12 05:36] #86 closed

[2015-02-12 07:17] HuKeping opened #87 "About the use of token.raw"
Hi there, i am new to Golang and not very familiar with it. There is a problem when I use these oauth2 package to do things:

Some filed which not contained in the Standard Token Struct will returned by my server, For exmaple:
scope: "read write exec"
jti: "123456"

Due to the
`json.Unmarshal(body, &token.raw)`
they will be stored in the token.raw, but how can i retrieve these data in token.raw?

[2015-02-13 00:11] adg commented on #87
You should use the `Token`'s `Extra` method: http://godoc.org/golang.org/x/oauth2#Token.Extra

[2015-02-13 00:11] #87 closed

[2015-02-13 01:32] HuKeping commented on #87
Yeah, that's it! Thanks so much

[2015-02-13 18:08] tcurdt opened #88 "google.golang.org/cloud/compute/metadata dependency"
I did

    go get golang.org/x/oauth2

when I now try to import it

    import (
        "golang.org/x/oauth2/google"
    )

I am getting

    src/golang.org/x/oauth2/google/google.go:25:2: cannot find package "google.golang.org/cloud/compute/metadata" in any of:
        /usr/local/Cellar/go/1.4.1/libexec/src/google.golang.org/cloud/compute/metadata (from $GOROOT)
        MYPROJECT/src/google.gola

[2015-02-16 03:44] adg commented on #88
You ran "go get" on the oauth2 package, which of course did not fetch the google package's dependencies. This is how the go tool works.

If you ran

    go get golang.org/x/oauth2/google

or

    go get golang.org/x/oauth2/...

it would have fetched those dependencies.

[2015-02-16 03:44] #88 closed

[2015-02-17 21:01] rakyll commented on #73
Mailed https://go-review.googlesource.com/#/c/4968/.

[2015-02-19 23:16] rakyll commented on #83
Can you just give me a sample private key and steps to reproduce the problem? Private emails to Brad or attaching not-working screenshots is not how you file issues.

We don't mutate Config.PrivateKey anywhere, I'm failing to understand why it suddenly doesn't work after the refresh.

The field is a byte slice for connivence, I don't want to figure out the encoding of the key.

[2015-02-20 22:05] jfcote87 commented on #83
My understanding from working with rlynjb is that the error was returned right away, not during the refresh. No valid toke was ever returned. I believe that her pem encoded array was corrupted via  fat fingering, a bad paste or misuse of escape characters.  The gist below shows how an improperly encoded pem returns an unhelpful "an1: structure error...".

https://gist.github.com/jfcote87/4fa738792

[2015-02-21 01:13] rakyll commented on #83
Mailed https://go-review.googlesource.com/#/c/5423/.

[2015-02-24 12:32] themihai opened #89 "appengine.go and appenginevm.go should be merged"
I think there is no need for a separate package now that appengine allows google.golang.org imports [0][1].

[0] https://code.google.com/p/googleappengine/issues/detail?id=11670
[1] https://groups.google.com/forum/#!topic/google-appengine-go/RAFdSTwo34w

[2015-02-24 23:32] anthmgoogle opened #90 "google: Application Default Credentials support"
Application Default Credentials is a feature being implemented in all the Google auth client libraries to run on servers and to make using 2LO and service accounts easier and more secure.

The basic idea is to expose a single static function with no arguments that gets a credential that can represent the code based on the content. In Java this is named GoogleCredentials.getApplicationDefault, alth

[2015-02-24 23:44] bradfitz commented on #90
What is 2LO?

[2015-02-25 00:27] adg commented on #89
Yep, you're right.

[2015-02-25 01:49] rakyll commented on #90
Two-legged OAuth 2.0.

[2015-02-26 05:41] adg commented on #90
Work in progress: https://go-review.googlesource.com/6074

(Not ready for review.)

[2015-02-26 05:41] adg commented on #89
Also, oauth2.Context is no longer necessary.

[2015-02-26 05:56] adg commented on #89
Work in progress: https://go-review.googlesource.com/6075 (not ready for review)

[2015-03-02 02:51] #83 closed

[2015-03-03 08:57] HuKeping opened #91 "enable providerAuthHeaderWorks configurable"
hi there,
          Is it possible to make the providerAuthHeaderWorks  configurable? We like to use the golang/oauth2 project and don't want to break it so we can always get the newest version.
          For now, the provider list who's oauth2.0 flow are not standard was written as
[code]

We would break the git repo if we just put our url into it.
I think many people may come across a similar is

[2015-03-04 04:25] adg commented on #91
We're not going to make it configurable, but if you know of other broken services you can [send us a change](https://github.com/golang/oauth2/blob/master/CONTRIBUTING.md) or file an issue.

[2015-03-04 04:25] #91 closed

[2015-03-05 03:21] #89 closed

[2015-03-05 11:59] nikolay-turpitko commented on #41
I finally find some time to create several accounts, and make some tests.
Here are my suggested changes and sample tests: https://go-review.googlesource.com/#/c/6920/.

[2015-03-06 09:36] nikolay-turpitko commented on #41
I've split it up to:
https://go-review.googlesource.com/6924
https://go-review.googlesource.com/6925
https://go-review.googlesource.com/6926

[2015-03-06 15:48] crhym3 opened #93 "Classic App Engine support"
https://github.com/golang/oauth2/commit/96e89befdc0f88d5868b297eb0e0727ce6978884 commit obviously broke my app.

What does this mean exactly? Is `google.golang.org/appengine` ready to be used on "classic" GAE apps? I've just took a quick look at the new package and [found this](https://github.com/golang/appengine/blob/06bbc86aa6edc69a04091ff99b696ebb4cbb2302/appengine.go#L22-L23):

[code]

I'm afr

[2015-03-06 15:51] crhym3 commented on #93
/cc @adg

[2015-03-06 18:04] gmlewis commented on #93
I have not tried this out, but you should be able to do something like this:

[code]

Alex, can you please try that out and see if it works for you?

[2015-03-06 21:47] rakyll commented on #93
I think this bug needs to be opened against https://github.com/golang/appengine, Classic AppEngine (tm) gives us a promise of compatibility and therefore we merged 96e89be.

[2015-03-06 21:48] rakyll commented on #93
/cc @dsymonds @okdave

[2015-03-06 21:49] dsymonds commented on #93
As far as I know, `IsDevAppServer` is the only piece that doesn't work transparently. @gmlewis's suggestion is probably right.

[2015-03-06 23:41] rakyll commented on #93
Opened https://github.com/GoogleCloudPlatform/go-endpoints/pull/65.

[2015-03-07 09:27] crhym3 commented on #93
Thanks all. My point is if the original quote is true, I think it deserves more than just a commit message.

Here's where my app is now broken, it wasn't go-endpoints :)

[code]

`jwt.Config.TokenSource()` now accepts `context.Context`, so I'm trying to figure out how to make this work on a classic GAE app.

Any suggestions?

[2015-03-07 10:24] crhym3 commented on #93
Never mind. This seems to work now by replacing all `appengine/*` imports with `google.golang.org/appengine/*` and `appengine.Context` with `net/context.Context`.

I'm going to close this issue but I still think this deserves more than just a commit message. Maybe a blog post describing what's happening, pitfalls like `IsDevAppServer` and workarounds.

[2015-03-07 10:24] #93 closed

[2015-03-08 22:14] adg commented on #93
On 7 March 2015 at 21:24, alex <notifications@github.com> wrote:

Thanks, that's a good suggestion. Sorry for the trouble, glad you worked it
out quickly.

[2015-03-09 11:48] azr commented on #89
Hey there,

Is this working ? Because we have the exact same problem as [here](http://stackoverflow.com/questions/28188504/setting-up-an-app-engine-context-in-go).

Thanks ! :)

[2015-03-09 20:30] rfrancis opened #94 "client.Do not authenticating properly"
I can't tell if this is a bug, a documentation gap, or just me being dumb, so I apologize if it turns out to be the last one, at least.

I'm writing code to authenticate via oauth2 with trakt.tv's API.  Let me first say that I have successfully done the same exchange and API call in Python using requests_oauthlib so I'm certain my details are correct, but I'm winding up with a 401 using golang.org

[2015-03-09 20:50] rakyll commented on #94
Where is your client is coming from? Could you send a snippet where you construct the client? Your request should surely contain an "Authorization" header if you're using the right client.

[2015-03-09 20:53] rfrancis commented on #94
Sure thing:

    conf := &oauth2.Config {
        ClientID: client_id,
        ClientSecret: client_secret,
        Endpoint: oauth2.Endpoint {
            AuthURL: auth_url,
            TokenURL: token_url,
        },
        RedirectURL: redirect_url,
    }

    fmt.Println(conf.AuthCodeURL("gotrakt"))

    f := bufio.NewScanner(os.Stdin)
    f.Scan()
    code := f.Text()

    token,err := conf.

[2015-03-09 20:57] rakyll commented on #94
I can confirm that this is a bug, we've broken the (*Config).Client accessor, as we pass a nil token on https://github.com/golang/oauth2/blob/master/oauth2.go#L459. I am working on a fix.

[2015-03-09 20:58] rfrancis commented on #94
Ah, okay!  It's just good to know I'm not crazy, at least in this respect.  Thanks so much for the quick followup!

[2015-03-09 21:36] rakyll commented on #94
Mailed https://go-review.googlesource.com/#/c/7240/.

Apparently I was wrong, it reuses the existing token through the TokenSource and sets the Authorization header properly. Your server should be rejecting the response for some other reason.

Could you print the req2, right before it's been done [1]? It should contain an Authorization header in the form of "Bearer <access token>".

[1] https://gi

[2015-03-09 21:41] rfrancis commented on #94
&{GET https://api-v2launch.trakt.tv/users/rfrancis HTTP/1.1 1 1
map[Content-Type:[application/json]
Trakt-Api-Key:[46eee1d00c5f2d4e9c19e736f82c7595ddcd92da1b2b5cc4e18f824a7f62ba2e]
Trakt-Api-Version:[2] Authorization:[bearer
632bf3d0663b0717daba486d9eb65a4f7b5c23c0b8c023066a2f8030f0fd1b16]] <nil> 0
[] false api-v2launch.trakt.tv map[] map[] <nil> map[]   <nil>}

[2015-03-09 21:52] rakyll commented on #94
You have a valid Authorization header.

Your access token should be lacking permissions be valid for the action (missing scopes, etc), or your provider is rejecting you for some other authorization problems we can't help you with.

[2015-03-09 21:55] rfrancis commented on #94
Absolutely bizarre.  Maybe the python library is adding some scope by
default or something.  Well, thanks, even though I'm still baffled. :)

[2015-03-09 22:14] rakyll commented on #94
Please reopen and update this issue if you come across another problem related to the oauth2 package.

[2015-03-09 22:14] #94 closed

[2015-03-09 22:14] #73 closed

[2015-03-09 22:15] #5 closed

[2015-03-09 22:19] rakyll commented on #65
This issue has been address during the redesign, you can build your own RoundTripper.
[code]

[2015-03-09 22:19] #65 closed

[2015-03-09 22:45] kroikie opened #95 "ConfigFromJSON only supports ClientIDs of type web."
It would be helpful to allow the user to set the type of ClientID they have, when constructing a config from JSON, since the parent element is not always "web".

Could update constructor:
ConfigFromJSON(type string, jsonKey []byte, scope ...string) (*oauth2.Config, error)

Also include type enum for ClientID types.

[2015-03-10 17:47] rakyll commented on #95
https://go-review.googlesource.com/#/c/7250/ resolved this issue.

[2015-03-10 17:47] #95 closed

[2015-03-11 05:10] rakyll commented on #41
2167774 closes this issue, thanks to @nikolay-turpitko.

[2015-03-11 05:10] #41 closed

[2015-03-11 17:26] cnbuff410 opened #97 "basic auth in header breaks TrainingPeaks auth flow"
TrainingPeaks auth server doesn't allow "authorization" field to show up in the header. So the solution would be adding both

"https://oauth.sandbox.trainingpeaks.com/",
"https://oauth.trainingpeaks.com/",

into "brokenAuthHeaderProviders"

[2015-03-11 19:44] perezd opened #98 "Automatic configuration of oauth client transport for appengine?"
In order to make this library work within appengine, I must write the following code:

[code]

Would it be possible for this library to auto-detect its running in an appengine context and configure the client transport automatically?

[2015-03-12 01:02] cnbuff410 commented on #97
https://go-review.googlesource.com/7450

My first time doing gerrit thing, not sure if it looks okay

[2015-03-12 01:07] adg commented on #97
As the comment in `oauth2.go` says:

        // We will _not_ be adding configurable hooks
        // to this package to let users select server bugs.

[2015-03-12 01:21] adg commented on #98
Yes, see #90

[2015-03-12 02:57] #97 closed

[2015-03-12 16:42] perezd commented on #98
Cool thanks. Does this also address the urlfetch/roundtripper requirements
for GAE as well? I don't really see that in scope for #90.

On Wed, Mar 11, 2015 at 6:21 PM, Andrew Gerrand <notifications@github.com>
wrote:

[2015-03-12 18:15] rakyll commented on #98
There is a separate bug with jwt.Config not being able to find out the right base RoundTripper on AppEngine. Reopening the issue.

[2015-03-13 04:33] ukai opened #99 "google.AppEngineTokenSource: appengine.Context does not implement context.Context"
google.AppEngineTokenSource says "The provided context must have come from appengine.NewContext.", but appengine.Context (on appengine, not appenginevm) does not implement context.Context.

package t

import (
      "net/http"
      "appengine"
      "golang.org/x/oauth2/google"
)

func handle(w http.ResponseWriter, req *http.Request) {
  ctx := appengine.NewContext(req)
  _ = google.AppEngineToke

[2015-03-13 04:35] ukai commented on #99
ah, should we use google.golang.org/appengine even on classic appengine?

[2015-03-13 04:41] ukai commented on #99
need to update README of google.golang.org/appengine?
It sounds it is only for Managed VM.

[2015-03-13 05:16] rakyll commented on #99
Yes, classic AppEngine (tm) supports importing from google.golang.org/appengine now. We discontinued support for "appengine" imports last week.

[2015-03-13 05:20] ukai commented on #99
got it. thanks!

[2015-03-13 05:20] #99 closed

[2015-03-16 00:08] porjo opened #100 "Exchange - panics when context=nil"
Calling `Config.Exchange()` with `ctx` set to nil results in panic. This wasn't a problem prior to [this commit](https://github.com/golang/oauth2/commit/96e89befdc0f88d5868b297eb0e0727ce6978884#diff-eb12cee32bcf605b68363a07e95e0174R193)

API doco indicates that nil value should be valid, however I notice `oauth_test.go` passes `NoContext` value instead.

[2015-03-16 00:23] adg commented on #100
Don't do that. `nil` contexts are wrong. At least use `context.TODO` or `oauth2.NoContext`.

[2015-03-16 00:25] adg commented on #100
Opening to fix the docs

[2015-03-16 00:26] adg commented on #100
https://go-review.googlesource.com/7615

[2015-03-16 02:12] #100 closed

[2015-03-19 05:54] #90 closed

[2015-03-19 22:28] cnbuff410 opened #101 "Add Strava to list of broken oauth2 endpoints"
Patch is coming soon

[2015-03-19 22:29] cnbuff410 commented on #101
https://go-review.googlesource.com/7850

[2015-03-19 22:29] jacobsa opened #102 "google: Support querying the scopes supported by the GCE metadata server"
google.ComputeTokenSource supports fetching tokens from the GCE metadata server, which is great. But there is a user experience issue here: the caller needs a token for a particular source, and if the VM instance was not configured with that source the error will not be discovered until later when a 403 response from the server is received. Worse, the 403 response is probably not clear about what

[2015-03-19 23:03] #101 closed

[2015-03-24 07:11] ezbercih commented on #7
+1

[2015-03-24 23:25] josharian opened #103 "doc: update CONTRIBUTING.md to point to this issue tracker"
Currently it directs users to file issues at golang/go.

[2015-03-25 02:03] #103 closed

[2015-04-01 09:21] themihai opened #105 "Token.Expiry should marshal into expire_in not expiry"
The rfc[0] mentions ``expire_in`` so I think `expiry` tag[1]  is incorrect, isn't it?

[0] https://tools.ietf.org/html/rfc6749#section-4.2.2
[1] https://godoc.org/golang.org/x/oauth2#Token

[2015-04-02 17:45] rakyll commented on #105
We internally use "expires_in" to handle responses from the provider. https://github.com/golang/oauth2/blob/3046bc76d6dfd7d3707f6640f85e42d9c4050f50/oauth2.go#L386

Token's Expiry field is a time.Time rather a numeric field that represents the seconds left to the expiration of the token. That's why it's named and tagged slightly differently.

[2015-04-02 17:45] #105 closed

[2015-04-04 20:36] cristim opened #107 "Provide full-blown examples"
It would be nice to have a few examples that can be just built and executed locally, since the godoc information is just providing bits and pieces.

[2015-04-05 00:28] rakyll opened #108 "Rename SetParam"
SetParam is vague to represent an AuthCodeOption maker. What about ExtraAuthCodeOption or NewAuthCodeOption?

cc/ @bradfitz

[2015-04-06 08:29] bradfitz commented on #108
I like the "Set" part (it sets, as opposed to appends) and I like the "Param" part. It's a URL parameter.

If you want to be more explicit, maybe "SetAuthURLParam"?

ExtraAuthCodeOption doesn't say that it sets (as opposed to appends) and doesn't say what sort of option it is. (i.e. we might add a header option in the future, but this is a URL option). I don't like "New" for the same reason. There

[2015-04-06 13:49] rakyll commented on #108
SetAuthURLParam sounds like a good plan.

I used to be a bit close-minded about the AuthCodeOption -- may it really ever represent anything other than an URL parameter?

[2015-04-06 13:56] rakyll commented on #108
Mailed https://go-review.googlesource.com/#/c/8491/.

[2015-04-06 14:30] #108 closed

[2015-04-07 11:42] vetinari opened #110 "PasswordCredentialsToken() sends client_id"
When retrieving a token with PasswordCredentialsToken() the [OpenAM](https://forgerock.org/openam/) OAuth2 Provider always fails, because an extra `client_id=somename` is sent with the request.
A diff like https://github.com/vetinari/oauth2/commit/2ddaf74e6a255aff61833524bc7ccf3b5191ada9 fixes the issue

[2015-04-07 14:43] rakyll commented on #110
Mailed https://go-review.googlesource.com/#/c/8560/.

[2015-04-07 15:14] rakyll commented on #98
@gmlewis, would you like to give this one a look if you have time?

[2015-04-07 17:25] vetinari commented on #110
Thanks, but that does not solve it completely, in that case c.ClientID is not empty / unset - it's used for BasicAuth at the provider...

[2015-04-07 18:14] rakyll commented on #110
The password credentials flow requires its own TokenSource implementation. Otherwise, retrieveToken will end up being overly multi-purpose. I will take another look at this issue later.

[2015-04-07 21:37] agtorre commented on #110
I'm currently doing a slight refactor of this (while trying to add client credentials grant). I'll add a TokenSource along the way.

[2015-04-08 03:17] gmlewis commented on #98
Yes, I'll look into it.

[2015-04-08 16:25] agtorre commented on #110
Actually pass on that, my pull request is focused on client credentials and it sounds like this will be looked at again later.

[2015-04-09 14:35] philpearl opened #111 "brokenAuthHeaderProviders - time to try something else?"
Perhaps add a BrokenAuthHeader to EndPoint?

The server bug behind this seems pretty common (it's also in Shopify, with domain names [shop].myshopify.com), and it seems unfortunate to need to update this library every time someone finds one.  I'd bet 90% of the forks are to add another broken provider.

Let me know if you might accept a change like this and I'll work on it.

[2015-04-09 14:56] rakyll commented on #111
The exported APIs shouldn't reflect that we have workarounds for buggy implementations. If there are any alternative solutions we can consider without touching the APIs, I would like to hear. A wildcard match might more be useful, why don't we convert the brokenAuthHeaderProviders into a regex list?

[2015-04-09 16:22] philpearl commented on #111
Unfortunately the world is buggy... I'd think the API should reflect whatever is useful to operate in the world as we find it.  I don't think a regex list would help particularly - you'd still need a code change to deal with a new site.

I can't see why you're happier to make code changes for every site with this bug than to make a single small code change to cope with all of them.

[2015-04-09 16:34] rakyll commented on #111
We're fine with maintaining the list for now.

The world may be buggy, but the users don't have to know about it. This package is a higher-level implementation of OAuth 2.0. Most of our users don't even truly know the spec and how OAuth 2.0 works. Exporting an API to turn on/off a workaround is unlikely to be user-friendly.

[2015-04-09 16:43] philpearl commented on #111
I in no way agree with you, but its your project and I've very grateful for it.

Please add [shop].myshopify.com to the list.  The host name varies by shop, but no other change is required to get it to work.

[2015-04-09 16:57] rakyll commented on #111
cc/ @bradfitz

Brad, do you think it might be worthy to export the busted provider's list, so the users can modify it?

Additional to the current bug report, our current solution doesn't help for those who can't upstream their domain names to the list for various reasons such as confidentiality.

[2015-04-09 20:08] bradfitz commented on #111
I like the List Of Shame and a simpler API.

The latency to add to the List Of Shame should put pressure (directly or indirectly) on servers to comply with specs.

[2015-04-09 21:05] anweiss opened #112 "Azure AD Support"
Would like to see Azure Active Directory support officially added. This requires the `client_secret` and `resource` parameters. In my testing, adding "https://login.microsoftonline.com/" to the `brokenAuthHeaderProviders` slice in addition to using `resource` in place of `scope` seems to do the trick.

- Go version: 1.4.2.windows-amd64

[2015-04-10 08:33] flexd commented on #111
This is a very common problem sadly.. please add `slack.com` to the list of badly implemented APIs.

I like the clean API, but being able to append a host to the list at runtime or toggle the authheader manually would make this library usable.

[2015-04-10 08:34] philpearl commented on #111
I think that's a Shame. And one of the most charmingly passive-aggressive attempts to get something fixed I've seen in a long time. Are you lobbying other OAUTH implementations to add a similar hidden list? Or perhaps your scheme is further along than I imagine and every language has an OAUTH implementation with a secret internal list of naughty hosts? That will show them.

Unfortunately, for the

[2015-04-10 08:50] bradfitz commented on #111
Maybe the community should do something like publicsuffix.org with a shared list of sites which have quirks. I don't know.

The Go community values simplicity. This is an experiment to see if we can have both simplicity and still work. It's an ongoing experiment.

[2015-04-10 10:00] philpearl commented on #111
Moving this configuration to a flag in the Endpoint doesn't feel to me less simple than a hard-coded list.  I tried it in my own fork (https://github.com/philpearl/oauth2) and it feels quite nice.  If the Endpoints are defined in the repo like the github, etc, ones are then the end-user interface is no more complex.

[2015-04-10 10:16] ernesto-jimenez commented on #111
@bradfitz unfortunately, I think it puts more pressure on the people consuming non-compliant servers than on the servers themselves.

This is penalising the package users, rather than the servers.

With that being said, I understand your point for not adding workarounds for non-compliant APIs, but at least this should be documented and warned in the package. Current usability means developers try

[2015-04-10 10:31] sleeper opened #113 "Token type, Authorization header and case sensitivity"
Hi,

Not sure it's really an issue but at least it will allow for some clarification.
From what I can read in the [token code](https://github.com/golang/oauth2/blob/master/token.go#L52), the token type returned with the access / refresh tokens is used as is by the transport to create the HTTP Authorization header.
My main concerns comes from the fact that:

* the token type as returned in the resp

[2015-04-10 12:32] bradfitz commented on #111
Has anybody explored auto-detecting this condition?

[2015-04-10 17:27] ernesto-jimenez commented on #111
@bradfitz IMHO, auto-detecting the condition would enable people building non-compliant providers. I think it should be very clear when a provider is broken rather than working around those silently.

@rakyll @bradfitz

I agree it should be very clear when a provider is broken so we can put some pressure on the server. However, in my opinion OAuth consumers should not be forced to fork the package

[2015-04-10 19:20] philpearl commented on #111
@ernesto-jimenez it makes more sense to have a flag on the Endpoint as this behaviour varies with the Endpoint, not a particular configuration using/connecting to the Endpoint

[2015-04-10 23:29] ernesto-jimenez commented on #111
@philpearl I didn't pay much attention to naming and where in the `Config` the field should be. I agree it would probably make sense to have it in `Endpoint`.

In my opinion, it might still be better to make integrating non-compliant providers a bit awkward rather than just setting up a flag. Integrating a provider that follows the spec would be seamless, but integrating one that doesn't would fee

[2015-04-11 07:55] philpearl commented on #111
I can't agree with making something more difficult for no reason other than
what is a very subjective "moral" judgement.

On Sat, 11 Apr 2015 00:29 Ernesto Jiménez <notifications@github.com> wrote:

[2015-04-11 17:11] rakyll commented on #111
@bradfitz, server implementations differ. There is no standard response for the basic-auth-not-supported case. We can't fallback to the query parameters every time we receive a non-200 response from Basic Authorization.

[2015-04-11 20:16] jfcote87 commented on #111
According to [RFC6749 section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1) page 16

    Including the client credentials in the request-body using the two
    parameters is NOT RECOMMENDED and SHOULD be limited to clients unable
    to directly utilize the HTTP Basic authentication scheme (or other
    password-based HTTP authentication schemes).  The parameters can only
    be transm

[2015-04-12 22:31] ttacon opened #114 "Add Box to brokenAuthHeaderProviders list."
There's a changeset in #104, but I need this fairly soon so I'll put a patch up.

[2015-04-14 08:49] tt commented on #111
@jfcote87, the first paragraph of that section says:

However, that section is about exchanging a client password for a token. The appropriate section describing the authorization endpoint, [section 3.1](https://tools.ietf.org/html/rfc6749#section-3.1), has no such provision.

This seems to indicate that the current behavior is broken; it's not mandated by the spec that basic authentication must b

[2015-04-14 09:04] tt commented on #111
The appropriate section describing client authentication for the token endpoint, [section 3.2.1](https://tools.ietf.org/html/rfc6749#section-3.2.1), does not require basic authentication (except in the aforementioned scenario):

[Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3) says:

[Section 2.3.2](https://tools.ietf.org/html/rfc6749#section-2.3.2) says:

This seems to indicate that

[2015-04-14 09:44] ernesto-jimenez commented on #111
@tt, how is the current behaviour broken? The package currently [uses Basic auth to authenticate][auth] with the server.

[code]

The issue is with the servers that rely on sending the `client_secret` in the request-body rather than using basic auth. HTTP Basic authentication is required when using a client password.

From the [Section 2.3.1][spec] you quoted (emphasis mine):

Which menas that ser

[2015-04-14 09:59] tt commented on #111
@ernesto-jimenez, you're right. The language confused me. I interpreted the "password" in section 2.3.1 to relate to cases where you exchange a password for a token.

[2015-04-16 22:21] gmlewis commented on #98
After investigating this, it seems to me like a better solution would be to put this wrapper into the `google.golang.org/cloud` package, as that is the only package that will benefit from it.  In other words, if someone is not using the `cloud` package, this wrapper will be of no use to them.

Something like this:

[code]

@okdave - what do you think?

[2015-04-16 22:52] okdave commented on #98
I am a little confused exactly where the bug is now. From my understanding the following should do exactly what the OP needed:

    import (
        "appengine"
        "golang.org/x/oauth2/google"
    )
    <snip/>
    c := appengine.NewContext(r)
    client, err := google.DefaultClient(c, scope1, scope2)

The returned `client` can now be used directly with `cloud.NewContext`. Is that not working

[2015-04-16 23:06] gmlewis commented on #98
Ah, I see.  Finding the right RoundTripper on App Engine may still be an issue.
Let me delete my last comment since it will only cause more confusion.
Then I'll see if I can duplicate the RoundTripper problem.

[2015-04-18 00:15] #7 closed

[2015-04-21 00:23] ttacon commented on #114
Thanks! Closed by 23f31c341b9ede4693ea642df2d2bd3c03c3bd8b.

[2015-04-21 00:23] #114 closed

[2015-04-21 16:06] ianchildress opened #116 "Incorrect package name/url in app engine example google.golang.org/urlfetch"
In the following example, google.golang.org/urlfetch should be google.golang.org/appengine/urlfetch

import (
    "golang.org/x/net/context"
    "golang.org/x/oauth2"
    "golang.org/x/oauth2/google"
    newappengine "google.golang.org/appengine"
    newurlftech "google.golang.org/urlfetch"

    "appengine"
)

func handler(w http.ResponseWriter, r *http.Request) {
    var c appengine.Context = app

[2015-04-27 15:45] #77 closed

[2015-04-29 14:19] paulhsu opened #118 "How to close connection"
Hi all,
I use oauth2.NewClient to create a new client.
But don't know how to close connection, does anyone can answer me the question?

Thanks.

[2015-05-03 18:53] mgenov commented on #84
@adg is there open issue about caching strategies?

[2015-05-03 21:10] adg commented on #84
Not that I know of.

On 4 May 2015 at 04:53, Miroslav Genov <notifications@github.com> wrote:

[2015-05-04 09:39] jimzhan opened #119 "AuthCodeURL generates incomplete scopes"
oauth2.go, line 117, the scopes simply joined by spaces, instead of commas [Github](https://developer.github.com/v3/oauth/#scopes).

[code]

[2015-05-05 01:06] adg commented on #119
GitHub is wrong. Quoth the spec:

    The value of the scope parameter is expressed as a list of space-
    delimited, case-sensitive strings.

https://tools.ietf.org/html/rfc6749#section-3.3

When authenticating with GitHub, provide your scopes as a single comma-separated value.

[2015-05-05 01:06] #119 closed

[2015-05-08 20:51] willnorris opened #120 "Allow Token to be a TokenSource"
I find myself using a lot of services that have access tokens which never expire (the biggest being GitHub, and most recently I noticed that DocuSign does the same).  So I constantly end up defining a simple `staticTokenSource` throughout my apps that just returns a static Token.

How about allowing a Token to also be a TokenSource that just returns itself?  Would folks be open to that?

[code]

[2015-05-08 21:18] willnorris commented on #120
assuming this is okay, I went ahead and sent https://go-review.googlesource.com/9895 out for review.

[2015-05-11 20:39] #120 closed

[2015-05-11 22:01] sgeb commented on #113
Indeed the behavior as currently implemented in go-oauth2 could break the OAuth 2.0 specification. For example, the Amazon Cloud Drive API returns a "bearer" token type but expects a "Bearer" scheme in the authorization headers – valid according to the specs, but not good friends with go-oauth2 (which reuses token type verbatim for Authorization header).

A workaround without having to change the

[2015-05-11 22:11] rakyll commented on #113
The spec says token_type is a parameter and returned by the server after one of the token retrieving flows. The returned access token is only valid with the returned access type. Amazon is failing to implement the spec correctly by rejecting the type they have assigned to the token.

[2015-05-11 22:12] rakyll commented on #118
Issues about the usage should be discussed on https://groups.google.com/forum/#!forum/golang-nuts, not at the issue tracker.

[2015-05-11 22:12] #118 closed

[2015-05-11 22:13] rakyll commented on #112
We are not willing to implement workarounds for each broken OAuth 2.0 implementation. If this is a blocker for you, please maintain your own of the oauth2 package with the necessary patches.

[2015-05-11 22:13] #112 closed

[2015-05-11 22:14] rakyll commented on #98
@gmlewis, are you looking at this issue or do you need help?

[2015-05-11 22:17] gmlewis commented on #98
Sorry, this fell by the wayside.  I have not yet duplicated the RoundTripper problem.

[2015-05-11 22:17] rakyll commented on #116
Mailed https://go-review.googlesource.com/#/c/9932/.

[2015-05-11 22:23] #116 closed

[2015-05-11 22:40] sgeb commented on #113
Thanks for the clarification. My understanding is based on the following:

In [RFC 6749](https://tools.ietf.org/html/rfc6749) "The OAuth 2.0 Authorization Framework", [section 5.1](https://tools.ietf.org/html/rfc6749#section-5.1)

[code]
(notice the "case insensitive")

and in [RFC 6750](https://tools.ietf.org/html/rfc675) "The OAuth 2.0 Authorization Framework: Bearer Token Usage", [section 2.1](

[2015-05-11 22:56] rakyll commented on #113
You are referring to a sample that illustrates what the header should look like for token type "Bearer". The generic syntax is explained at https://tools.ietf.org/html/rfc2617#section-1.2, and it labels the entire token string as case insensitive. Amazon's implementation doesn't fulfill this requirement.

[2015-05-11 22:59] bradfitz commented on #113
@rakyll, what is the harm in us mapping any spelling of "bearer" to "Bearer"?  If it fixes Amazon for users and doesn't break anything else, why not do it?

[2015-05-11 23:25] rakyll commented on #113
If it's critical, let's patch it. From the report, I got an impression that it only affects the Amazon Cloud Drive API users.

[2015-05-12 09:32] tt commented on #113
@rakyll, I subscribed to this issue as I'm seeing the same issue trying to consume the Asana API.

It's probably worth noting that Go's [`func (*http.Request) BasicAuth`](https://github.com/golang/go/blob/339cf9807debe2b20e8701ff3821079a8e925700/src/net/http/request.go#L550-578) will itself bark on a value different from "Basic". I imagine this is the correct behavior, so presumably RFC 6750's sec

[2015-05-13 01:41] rakyll commented on #113
A contributor mailed https://go-review.googlesource.com/#/c/9852/.

[2015-05-18 07:06] sebcante opened #121 "Ability to provide empty redirect_uri when exchanging token"
hi guys,

When using Facebook signed request to exchange a code coming from the client side (Facebook JS SDK) for a token, we would need to specify an empty `redirect_uri`. I tried to set `config.RedirectURL = ""` but it does not seem to be sent as empty to the oauth server but rather it does not seem to be sent at all.

Received error code : `Response: {"error":{"message":"Missing redirect_uri pa

[2015-05-19 01:34] adg commented on #121
Yay, another spec violation. There's no way to do this currently. I'm not too keen on putting options in the oauth2 package to make this possible. Can you file a bug with Facebook?

[2015-05-19 08:53] robinwassen opened #122 "appengine import paths seems to be broken"
When doing a clean `go get golang.org/x/oauth2` there are some issues with the import paths, see output below.

I have cleaned the pkg directory and deleted all dependencies to get a fresh version of all code.

**OS:** Mac OS X 10.10 64-bit
### Using go

[code]
### Using App Engine SDK

[code]

[2015-05-19 16:23] mmp opened #123 "Unclear how to provide a custom http.Client"
I may just be missing something, but it's unclear to me how to provide a custom http.RoundTripper to use with the *http.Client from the oauth2.Client method.

All that the documentation has to say is "The underlying HTTP transport will be obtained using the provided context", without any further information about what is being looked for in the values in the context.

If I dig through the oauth2 s

[2015-05-20 01:15] sebcante commented on #121
Thanks andrew for the quick feedback, i tried my luck filing a bug to facebook https://developers.facebook.com/bugs/838192036274549/ , let see how it goes, i will report back here is FB is ok to change anything on their side.
In the mean time i will have to fork  to change `func (c *Config) Exchange(ctx context.Context, code string)`
and replace
[code]
with
[code]

[2015-05-20 01:35] rakyll commented on #123
You need provide it through a value context.
[code]

[2015-05-20 01:40] mmp commented on #123
...and now I see the HTTPClient variable (and its usage) documented at the very top of the godoc.  Thanks/sorry for the bother!

[2015-05-20 01:40] #123 closed

[2015-05-20 04:02] adg commented on #121
Thanks for filing that bug. I've subscribed to the report to see what they say.

Yeah, please use your fork until we hear back from FB. I'm loathe to put in workarounds for every broken oauth2 endpoint out there.

[2015-05-20 06:28] nikolay-turpitko commented on #111
Sorry for butting in, but what if we just made "list of shame" a bit more configurable?

First, I think, it's better to move `var brokenAuthHeaderProviders` and `func providerAuthHeaderWorks` into separate file within the same package - just to simplify patches / merges (these things change more frequently than code that surrounds it, using separate file we'd decrease chances to break more complex

[2015-05-20 06:41] adg commented on #122
I think you want `goapp get -u` in your latter case, because you may have an old version of the `google.golang.org/appengine` repo?

In the first case we should not make the tests depend on app engine.

[2015-05-20 06:54] adg commented on #122
Fix: https://go-review.googlesource.com/10247

[2015-05-20 07:11] adg commented on #122
Actually the above fix is wrong. You need to fetch test dependencies to run the tests. Try `go get -u -t` in the google directory.

[2015-05-20 07:28] robinwassen commented on #122
@adg I tried `go get -u -t` and still have the same problem, also removed $GOPATH/pkg/ and most of $GOPATH/src/ without success.

[2015-05-20 08:19] robinwassen commented on #122
@adg There still seems to be some issues with including the `oauth2` package in an app engine application though. Our automated builds which are checking out our application with dependencies fail to fetch all dependencies of `oauth2`.

**Steps I used to reproduce locally:**

Remove the directories `$GOPATH/pkg/`, `$GOPATH/code.google.com`, `$GOPATH/golang.org`, `$GOPATH/google.golang.org` and `$G

[2015-05-20 08:49] robinwassen commented on #122
It works from clean slate if I start by explicitly fetch oauth2 before my other packages, so basically I run:
1. `goapp get -t golang.org/x/oauth2/...`
2. `goapp get -t ./...` (in the application directory)

Feels quite wrong to have to explicit get packages in the build script though.

[2015-05-20 21:20] bradfitz commented on #111
Yeah, maybe we can let callers do:

[code]

So then we can occasionally grep all of Github and find the public ones to add to our central list in batches.

That might be a good middle ground.

[2015-05-21 00:44] adg commented on #111
I'm happy with that.

On 21 May 2015 at 07:20, Brad Fitzpatrick <notifications@github.com> wrote:

[2015-05-21 01:06] ernesto-jimenez commented on #111
Once there's an option to enable the non-compliant providers. Why maintain a central list?

In my opinion, the biggest issue with the current implementation is inconsistency. As a developer, I might use this package to integrate with Google or Dropbox, then have to integrate another provider with the same API, but the code would fail because of some internal whitelist I'm not aware of. Same API, s

[2015-05-21 01:13] bradfitz commented on #111
@ernesto-jimenez, if you're going to be using providers A, B, and C, with the "same" API but different interpretations/buggy implementations of OAuth2, the workaround config has to live _somewhere_. What I don't want is for that workaround config to be part of the OAuth config in user code. I'd like to flag buggy providers centrally so things work for most people by default, but new buggy sites di

[2015-05-21 01:31] ernesto-jimenez commented on #111
@bradfitz:

But we are not talking abut different implementations, are we? After all in many cases the request is to simply add a new provider to the list.

Imagine the following situation:
 - Provider A follows the spec: the package works OK.
 - Provider B has a buggy implementation of OAuth2, but it's in the central list: the package works OK transparently.
 - Provider C has the same buggy imple

[2015-05-21 01:35] bradfitz commented on #111
You would be confused in that case regardless of whether this package had any knowledge of this workaround, and regardless of whether it exposed an API. It sucks, because people suck at writing and implementing specs. Fact of life.

This whole bug is purely about how we handle the confusion and where we shove it.

[2015-05-21 05:41] nikolay-turpitko commented on #111
@bradfitz @adg @ernesto-jimenez

Wouldn't it be simpler (and more reliable) just to extract `var brokenAuthHeaderProviders` with hard-coded list (or in form of configuration file) into a separate github project and import it as a compile-time dependency?

This way that new project will take a role of a public "list of shame", will be fixed more easily, will be under version control, and applicatio

[2015-05-21 05:56] adg commented on #111
On 21 May 2015 at 15:41, Nikolay Turpitko <notifications@github.com> wrote:

Everything that follows this is way more complicated than it needs to be,
IMO.
It's a fun idea, but the reality is that the providers are not interested
in fixing the bugs.
I, as one of the maintainers of this library, don't want to make a big deal
out of it.
I just want the library to work well for most people.
The statu

[2015-05-21 17:24] nikolay-turpitko commented on #111
IMO.

Not sure that you are understood my quite longish previous post. I argue against "list of shame" as a single common public web site. I think that is unreliable. And more complex than it seems from the first glance. As an application developer, I'd prefer to have this list:

1) under version control
2) under my control
3) bundled with my application (compiled into it or placed as a config int

[2015-05-22 03:06] adg commented on #111
On 22 May 2015 at 03:25, Nikolay Turpitko <notifications@github.com> wrote:

That sounds like a reasonable move to me.

[2015-05-22 08:08] williamjoy commented on #111
Confirmed Github Enterprise 2.1 does not work with Auth Header, and it is not possible to regex  github enterprise URL or even `whitelist` it

It might be better to give user a chance to register `RegisterBrokenAuthHeaderHost`

[2015-05-25 04:04] jacobsa commented on #102
Using the [tokeninfo service](http://godoc.org/github.com/google/google-api-go-client/oauth2/v2#TokeninfoCall) once a token is obtained would also work, but of course involves remote calls.

[2015-05-25 18:27] rakyll commented on #102
Metadata server provides the scopes, see http://godoc.org/google.golang.org/cloud/compute/metadata#Scopes.

In order to improve the user experience, we have two burdens. ComputeTokenSource is unaware of the scope requirements. Therefore, we can't double check if the instance is configured to have enough permissions for the resources the user will access during the ComputeTokenSource initialization

[2015-05-25 21:32] jacobsa commented on #102
Oh, thanks for pointing out Scopes; I didn't realize that the (undocumented) metadata server API I mentioned was already wrapped.

[2015-05-26 02:27] #113 closed

[2015-05-27 20:06] adg commented on #122
If you're going to run tests with dependencies, you need to fetch those
dependencies. I'm not sure what else we should suggest?

On 20 May 2015 at 01:49, Robin Andersson <notifications@github.com> wrote:

[2015-06-04 01:23] paked commented on #107
Did this ever get done? @rakyll

[2015-06-04 02:20] rakyll commented on #107
It hasn't been done unfortunately. I have very limited bandwidth and unassigning myself from the issue. I would be glad to review any CLs if anyone is willing to contribute.

[2015-06-05 07:17] djinn opened #125 "403 error while using Google JWT Service account for Analytics API"
Hello,

I intended to recieve regular reports on page views and started building this dashboard. Sadly, I am facing problems. Request response looks like

[code]

[code]
Do you think the problem is with the code or permissions in the google dev console?

[2015-06-05 14:59] rakyll commented on #125
What's inside client_secret.json and why don't you handle errors?

[2015-06-05 16:23] adg commented on #125
What kind of problems are you facing?

As @rakyll says, you need to check your errors otherwise you have no idea what's going on.

[2015-06-18 20:27] gguuss opened #127 "Provide ID token in TokenResponse"
Currently in order to get the OAuth 2.0 ID token, you must retrieve it by making a call to Extra, for example:

    tok.Extra("id_token").(string)

Because this is a standard Token and is important for token verification, we should provide an accessor for the value to the oauth2 token object.

[2015-06-18 20:31] gguuss opened #128 "Provide token verification within oauth2 library"
Because ID token verification is an important step in AuthN systems that use OAuth2 / open ID connect, we should provide a convenience method that verifies tokens.  The following code does basic token verification:

    // decodeIdToken takes an ID Token and decodes it to fetch the Google+ ID within
    func decodeIdToken(idToken string) (gplusID string, err error) {
      fmt.Fprintf(os.Stderr, "

[2015-06-18 20:32] gguuss commented on #127
I'll note, ID tokens are part of Open ID connect, which works on top of OAuth 2.0 - http://openid.net/specs/openid-connect-core-1_0.html#CodeIDToken

[2015-06-19 20:19] rakyll commented on #128
I can't see any mention of token IDs in the [OAuth 2.0 spec](https://tools.ietf.org/html/rfc6749). Is this a Google-specific feature just because Google had to deprecate OpenID?

If so, we should add the additional bits to the google package.

[2015-06-20 02:19] gguuss commented on #128
It's actually relevant within the scope of [Open ID Connect](http://openid.net/specs/openid-connect-core-1_0.html), which is a common superset of OAuth 2.0 that includes claims about the user. [This blog post](https://www.tbray.org/ongoing/When/201x/2013/04/04/ID-Tokens) does a lot to affirm their utility.

[2015-06-23 17:32] rakyll commented on #128
The verification utility function may fit in jws or jwt. It is tricky where it should live because the verification requires you to use your private key. We already have *Config types that require a private key and I am wondering if we can reuse any of the existing concepts.

cc/ @bradfitz for more feedback.

[2015-06-23 17:43] themihai commented on #128
For what is worth I had the same issue and after several trials I ended-up with a dedicated openID package which imports both jose and oauth2. openID is built on top of oauth not the other way around and it has specific requirements/fields (i.e. standard claims) so it feels right to stay in a separate package.

[2015-06-25 04:09] bradfitz commented on #128
Separate package sounds best to me.

[2015-06-25 16:55] rakyll commented on #128
Separate package sounds good.

[2015-06-26 01:32] #128 closed

[2015-06-26 01:33] adg commented on #128
+1

On 26 June 2015 at 02:55, Burcu Dogan <notifications@github.com> wrote:

[2015-06-26 01:35] adg commented on #128
I'm assuming @bradfitz and @rakyll mean a separate package outside the
oauth2 repo, that's why I closed the issue.

On 26 June 2015 at 11:32, Andrew Gerrand <adg@golang.org> wrote:

[2015-06-26 17:58] rakyll commented on #128
I meant a package outside of the oauth2 repo. If anyone wants to contribute such a utility package elsewhere, I'd be happy to help and review it.

[2015-06-30 05:02] rakyll commented on #127
Closing for similar reasons why https://github.com/golang/oauth2/issues/128 is closed. Such utilities should live in an external package.

[2015-06-30 05:02] #127 closed

[2015-07-02 10:05] vlastv opened #130 "Work with Wunderlist"
API Wunderlist requires the transfer of the access token and cliend id.
The passkey must be passed not in the standard header.

Required headers:
[code]

How can I implement it using this library?

[Documentation](https://developer.wunderlist.com/documentation/concepts/authorization) for working with API

[2015-07-05 10:40] crhym3 opened #131 "Provide a way for a client to access refreshed Access Token"
It is often desirable for a program to get access to newly obtained access token upon refresh. Consider the following use case:

* A cmd line program authenticates a user, stores access token and uses it on every invocation.
* After a while, the access token is expired.
* Every subsequent invocation of such program will result in potentially unnecessary token refresh as the program has no way of u

[2015-07-06 20:13] mcqueenorama commented on #110
Anybody getting anywhere with this?

[2015-07-08 23:36] Kuzmin opened #133 "MAC tokens not working"
Currently the Token.SetAuthHeader only adds the token type and access header to the Authorization header field. This does not work for MAC tokens, where the Authorization header needs to be calculated according to: http://tools.ietf.org/html/draft-ietf-oauth-v2-http-mac-01#section-3.1

Are pull requests for this welcome?

[2015-07-15 23:39] adg commented on #133
That RFC is a draft. Did it ever get finalized?

[2015-07-16 00:44] Kuzmin commented on #133
@adg: No, the only part of OAuth 2.0 that is finalized is Bearer tokens. However, this draft is already in use. For example, both Python's Requests library and Ruby's rack-oauth2 both implement this. It is also the draft referenced in the finalized RFC6749 "The OAuth 2.0 Authorization Framework".

How do you view this, do you want to wait for the RFC to be finalized before adding MAC token support

[2015-07-21 23:38] vsubramani opened #136 "Please add usage instructions for Application Default Credentials"
adg@ had added support for the Application Default Credentials feature in this library. Please add usage instructions in the repro's readme file to help consumers.

Here are some ruby and node example documentation for reference.
https://github.com/google/google-auth-library-ruby
https://github.com/google/google-auth-library-nodejs

[2015-08-02 19:12] johnl commented on #131
For reference, there used to be support for token caches but it was removed for some reason. See https://github.com/golang/oauth2/commit/93ad3f4a9ef21ece608bdf66c177b7573de9fcf7

[2015-08-02 19:13] johnl commented on #84
For reference, there used to be support for token caching but it was removed for some reason: https://github.com/golang/oauth2/commit/93ad3f4a9ef21ece608bdf66c177b7573de9fcf7

[2015-08-07 00:42] adg commented on #133
(Sorry for the delayed reply.)

I'm not opposed to adding the feature, but how would the new one work? New
functions? New types? Please discuss the design here first.

On 16 July 2015 at 10:44, Alexander Kuzmin <notifications@github.com> wrote:

[2015-08-10 12:27] chriswhitcombe opened #138 "Support for implicit oauth2 flow"
It would seem in the library there is no clear support for the implicit oauth2 flow. Is this deliberately missing as go is seen more as a server side language or is there a way to achieve it with the library.

I've been able to work around it somewhat by doing the auth call with a standard http client, then building a token, and creating a client from that. Though am just starting to test if that

[2015-08-10 22:47] adg commented on #138
What do you mean by "implicit oauth2 flow" ?

[2015-08-10 22:54] anthmgoogle opened #139 "JwtAccess Credentials Feature"
Tracking completion of implementation of JwtAccess Credentials for service accounts for Go. This is a service account that passes a JWT directly as an a bearer token instead of exchanging for an access token.

For reference, the Java implementation:
https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ServiceAccountJwtAccessCredentials.java

[2015-08-10 23:41] anthmgoogle opened #140 "Jwt Access Credentials should cache JWTs"
The JWT Access Credentials should temporarily cache JWTs. Suggested algorithm:
* Hash JWTs using Audience as key.
* Also store the timestamp of last use with each JWT.
* On access clear any JWT unused for more than 1 hour.

[2015-08-10 23:45] adg commented on #140
Since a JWT Access Token can be computed on the fly with minimal cost, what's the point of caching them?

[2015-08-10 23:51] anthmgoogle commented on #140
There are a pretty large payload in the request ~300 characters. We need to make sure HTTP 2.0 can avoid sending duplicates on repeated requests.

[2015-08-11 00:13] adg commented on #140
I just updated the current implementation (
https://go-review.googlesource.com/10667) so that it'll re-use the same
token so long as it's valid (1 hour), and then issue a new one. (IOW, that
CL fixes this issue)

On 11 August 2015 at 09:51, anthmgoogle <notifications@github.com> wrote:

[2015-08-11 07:53] chriswhitcombe commented on #138
Andrew,

The RFC lists 4 flows https://tools.ietf.org/html/rfc6749#section-1.3.2 and from what I can tell the library supports the Authorization Code (the default), Resource Owner Password Credentials (PasswordCredentialsToken function) and Client Credentials (the client credentials package).

I did some testing last night and its possible to create a config, get the auth URL, swap the grant type,

[2015-08-12 13:12] overlordtm opened #141 "Using oauth2 with self signed certificate"
Is it possible to use this library on development server with self signed certificate?

Inspecting the source is see it uses `internal.ContextClient` to obtain instance of `http.Client` to do the requests. I guess I would need to call `internal.RegisterContextClientFunc` to register my own client, but since it is in internal package I cannot do this. Is there any other way to achieve this?

[2015-08-12 13:25] overlordtm commented on #141
Actually it is

`ctx := context.WithValue(oauth2.NoContext, oauth2.HTTPClient, c.Client)`

and pass this context to other oauth2 fucntions.

[2015-08-12 13:25] #141 closed

[2015-08-13 17:58] m4tty opened #142 "When using `gcloud preview app run` appengineTokenFunc is nil, causing a panic"
When I use `gcloud preview app run` instead of `goapp ...` I am unable to access appengine apis due to `AppEngineTokenSource(context, scope)` error.  AppEngineTokenSource seems to fail because appengineTokenFunc is nil, which causes a panic.

I suspect this is because the latest gcloud tool's `gcloud preview app run` isn't actually using docker (and so isn't using the go-wrapper which would set th

[2015-08-13 19:42] rakyll commented on #142
cc/ @okdave

[2015-08-13 19:56] m4tty commented on #142
Also, I forgot to mention that I verified that `appengine.AccessToken` is not nil inside of my app... just before calling `google.AppEngineTokenSource` which panics.  Another data point which perhaps pointing to the missing build flag as causing trouble.

[2015-08-13 22:42] #139 closed

[2015-08-13 22:42] #140 closed

[2015-08-17 17:57] Kuzmin commented on #133
(Sorry from here too.)

Since you already provide the TokenType field, I think that the only change would be to add a field for the  `MacKey` and an optional field for the `MacAlgorithm` to the `Token` type. Then you would do a conditional check when setting auth headers, since that's really the only part of the code that changes.

I think it's reasonable to do it this way as long as it's clearly

[2015-08-23 22:39] medined opened #144 "Segmentation fault getting oauth2"
I tried to install using the "go get" command but my system core dumped.

[code]

What can I do to help debug this issue?

[2015-08-24 01:56] lalloni opened #145 "OpenAM OAuth2 provider always reject `Exchange` requests"
When trying to exchange an authorization code for an authorization token, using `(*oauth2.Config) Exchange(context,code)`, OpenAM OAuth2 provider always complains of "Using multiple authentication methods" and fails the request with http status 400.

The problem is fixed by not setting the `client_id` param on the exchange request.

Removing/commenting [line 143](https://github.com/golang/oauth2/b

[2015-08-24 12:54] adg commented on #144
There's something wrong with your Go installation or your Git installation. Please mail golang-nuts@googlegroups.com for assistance. Thanks.

[2015-08-24 12:54] #144 closed

[2015-08-29 08:40] pradpras commented on #125
Hi Experts,

I am facing a similar problem. Can you please help me
I have written a code to retrieve my google+ Domain user profile.

1. I am using a google+ Domain Account with the domain name spaceandhow.com

2. I have provided all the privileges as listed in https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority

3. Both Google+ API and Google+ Domain Api are

[2015-09-01 04:50] pradpras opened #148 "Golang program for retrieving google domain profile returns 403 forbidden"
Hi Experts,

I am facing a similar problem. Can you please help me
I have written a code to retrieve my google+ Domain user profile.

1. I am using a google+ Domain Account with the domain name spaceandhow.com

2. I have provided all the privileges as listed in https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority

3. Both Google+ API and Google+ Domain Api are

[2015-09-09 10:10] flowlo opened #150 "proposal, google: Expose project ID"
As requested in the Go Contribution Guidelines I propose:

To expose the project ID of the current user by adding a function `Project() string` to `golang.org/x/oauth2/google.SdkConfig`.

This method would return a new unexposed property of `SDKConfig`, namely `projID string`, which is initialized by `NewSDKConfig(account string)`.

[code]

For the project ID to be read by `NewSDKConfig` it must b

[2015-09-10 05:55] adg commented on #125
Try using the scope `"https://www.googleapis.com/auth/plus.login"` ?

[2015-09-10 06:04] pradpras commented on #125
Hi Andrew,

Thanks you for your response.
I tried with both the scopes, individually and together.
 "https://www.googleapis.com/auth/plus.login" and "https://www.googleapis.com/auth/plus.me"

I get the same result

    GoogleAUTH package: response Status: 403 Forbidden
    GoogleAUTH package: response Headers: map[Date:[Thu, 10 Sep 2015 06:02:50 GMT] Expires:[Thu, 10 Sep 2015 06:02:50 GMT] X-Xss-P

[2015-09-10 11:24] robnorman opened #151 "Hard-coded expiry for JWT exceeds Salesforce limits"
The IETF draft states "Implementers MAY provide for some small leeway, usually no more than
a few minutes, to account for clock skew." https://tools.ietf.org/html/rfc7519#section-4.1.4

The current implementation of JWS/JWT in this package uses a fixed 1 hour expiry time for JWT tokens. That expiry can't be overridden as it relies on private struct properties. https://github.com/golang/oauth2/blob

[2015-09-11 01:50] adg commented on #151
You don't need to grant Gerrit access to anything to send a change. You push your changes to the Go project's Gerrit server. Please send us a change :-)

[2015-09-11 07:08] adg commented on #150
I don't outright object to this, but I have two concerns:

1. This would mean we now rely on the presence and stability of two files, instead of just one. I have been assured that `credentials` will stick around and stay the same, but I cant' say the same about the `properties` file. Maybe @broady knows, or knows who to ask?
2. What is the actual use case here? Why do you need to auto-detect the p

[2015-09-11 07:45] flowlo commented on #150
Regarding 2: For apps running on App Engine it is straightforward to retrieve the project identifier both locally with the development server and when deployed via [`appengine.AppID()`](https://godoc.org/google.golang.org/appengine#AppID). However, when developing for Compute Engine, retrieval of the project ID is (AFAIK) not possible, because [`cloud/metadata.ProjectID()`](https://godoc.org/googl

[2015-09-11 08:17] robnorman commented on #151
In the contrib guidelines it asks me to *"set up your account in Gerrit, visit go.googlesource.com and click on "Generate Password" in the page's top right menu bar"*
https://golang.org/doc/contribute.html#tmp_4

Following that link brings me to an auth request page where "\*.googlesource.com would like to: ... View and manage your Git repositories".

If there's a way around that I'd be happy to s

[2015-09-11 18:18] tomponline commented on #151
@adg yeah if we've missed something it would be great to know how to contribute without having to fully integrate with gerrit

[2015-09-11 18:25] tomponline commented on #151
@adg @robnorman Is this what you mean? We can push directly to gerrit's server http://review.cyanogenmod.org/Documentation/user-upload.html using our google account as creds?

[2015-09-11 22:31] adg commented on #150
It seems to me the correct place for this is probably in the cloud/metadata
package, so that you can make the same API call to get the information
whether you're in dev or production. @okdave

On 11 September 2015 at 17:45, Lorenz Leutgeb <notifications@github.com>
wrote:

[2015-09-11 22:37] broady commented on #150
This is a tricky one.

I don't think the format of that config file is stable. Specifically, it's an implementation detail of the `gcloud` command.

We'd need to get a commitment from the gcloud SDK team about the format and location, etc, etc. before reading from it.

What are you actually using the project ID for? There may be better solutions to whatever you are trying to achieve :)

[2015-09-11 22:42] adg commented on #151
On 11 September 2015 at 18:17, Rob Norman <notifications@github.com> wrote:

The Git repositories that message refers to are the ones hosted at
googlesource.com, ie the go repositories.

[2015-09-11 23:12] flowlo commented on #150
@adg You are right, exposing this via `cloud/metadata` is the better place in terms of exposing it. I filed this here because `NewSDKConfig` felt like it would be the right way to read the `properties` file (there already is code that potentially looks at that file). And this is in `golang.org`, not `google.golang.org` so probably easier to get changes through (at least I think of it that way, mig

[2015-09-11 23:31] broady commented on #150
Let's get it in the right place. Something like this definitely belongs in `google.golang.org/cloud`. While you can't contribute directly there, someone at Google can. :+1:

I've asked the Cloud SDK team internally if it's something we can safely depend on.

[2015-09-11 23:35] flowlo commented on #150
OK, thanks! I'll be watching `google.golang.org/cloud/metadata` :P

[2015-09-14 02:27] cnbuff410 commented on #142
We are having the same issue here. @m4tty did you find a workaround for this?

[2015-09-14 04:00] okdave commented on #142
@broady you were looking at something similar about build tags in the oauth2 packages

[2015-09-14 16:23] cnbuff410 commented on #142
Probably something to do with commit #ad01282

[2015-09-14 18:03] broady commented on #142
Yes, ad01282 is related, but not the cause of this particular bug.

@m4tty - can you explain why you're using `AppEngineTokenSource`? Could you try `DefaultTokenSource`/`DefaultClient` instead?

If you really need control over the token source, then you should likely be using `ComputeTokenSource` for App Engine Managed VM's.

[2015-09-14 20:31] m4tty commented on #142
In order to leverage appengine storage api, we do the following:

[code]
Similar to this example:
https://cloud.google.com/appengine/docs/go/googlecloudstorageclient/getstarted?hl=en

In any case, the appenginevm/appengine buld flag isn't passed in when using `gcloud preview app run`, and so appEngineTokenFunc is nil, which causes trouble.  (presumably because it does not leverage docker and go-wr

[2015-09-14 20:58] m4tty commented on #142
@broady I'll try using DefaultTokenSource, but a quick glance looks like I might hit a similar issue as it passes by the appEngineTokenFunc check - https://github.com/golang/oauth2/blob/master/google/default.go#L87 and returns an error.
I'll let you know.

[2015-09-14 22:20] broady commented on #142
yes, using `DefaultClient` should work for you. Just make sure you have performed `gcloud auth login` from your command-line before running the app.

Also, is there a reason you are using `gcloud app run` instead of just `go run`?

[2015-09-15 04:31] pradpras commented on #125
Hi Andrew,

Is there something else i can try out?

Thanks,
Pradyumna

[2015-09-15 04:49] rakyll commented on #125
@pradpras, you can't use `plus.me` scope with a service account to resolve its owner user. The scope only allows you to retrieve who the me is if you have gone through the 3-legged OAuth 2.0 flow.  From the scopes page of the Domains API:

[code]

https://developers.google.com/+/domains/authentication/scopes

[2015-09-15 08:43] pradpras commented on #125
Hi @rakyll ,
I actually want to write an application that retrieves some service account specific data (just a string).
I realize that the 3 legged authentication needs user intervention ( to login to gmail).
I want to achieve this without user intervention.

I also read that it is possible to retrieve service account information using 2 legged authentication.

Using a normal service account, I am

[2015-09-15 08:45] pradpras commented on #125
Just to add... I dont mind putting my string even in one of those fields   "familyName" or  "givenName" which are currently empty.
Can you suggest if there is a way to modify any of these values for the service profile?

Thanks,
Pradyumna

[2015-09-15 14:44] m4tty commented on #142
DefaultTokenSource worked great.  And thanks for reminding me to `gcloud auth login`.

We are using `gcloud` because we are running multiple modules and a dispatch.yaml.  And in an effort to be as close to our deployed environment as possible before releasing.  I'd love to run `gcloud preview app run ... --remote` or something to run in a dockerized local environment, but I'm not aware of a way to

[2015-09-15 15:55] rakyll commented on #142
Was the original bug related to AppEngineTokenSource? DefaultTokenSource is handy, but we must still support AppEngineTokenSource both on dev and prod on AppEngine and AppEngine managed VMs.

[2015-09-15 17:28] broady commented on #142
Original bug is that `gcloud app run` does not compile Go application with the `appenginevm` build tag.

Why do we need AppEngineTokenSource to work on Managed VMs? The `google.golang.org/appengine` package does not use the oauth2 package.

[2015-09-15 18:33] rakyll commented on #142
To minimize the API fragmentation between the classic App Engine and the Managed VMs.

We originally considered providing a TokenSource from the appengine package but the oauth2 package was not mature enough for being such a core dependency.

The user should never care about the internals and switching back and forth between different TokenSource implementations if they are on AppEngine. That's wh

[2015-09-15 18:37] broady commented on #142
I think the correct thing to do is just use `DefaultTokenSource`/`DefaultClient`. I do not consider it to be a workaround.

It's possible AppEngineTokenSource should be deprecated.

[2015-09-15 23:25] derekperkins opened #152 "Removing appenginevm build tag causes panics"
Following up on the discussion here: https://github.com/golang/oauth2/commit/ad0128250e8fba646a92ca9129716e523d63ef9f

Removing the +appenginevm build tag causes a panic.
![image](https://cloud.githubusercontent.com/assets/3588778/9892651/1e97b0e2-5bce-11e5-87a1-d0ee08769139.png)

I don't understand the reasoning behind eliminating support. Maybe Managed VM users could also use the metadata server

[2015-09-15 23:25] derekperkins commented on #152
@broady @adg

[2015-09-15 23:27] broady commented on #152
Can you tell me more about how/why you're using AppEngineTokenSource?

You might want to read the discussion on #142.

[2015-09-15 23:36] derekperkins commented on #152
It's some older code from when we were using classic App Engine and has continued to work fine to create a client. It's not that I'm opposed to changing our code, it just seems like it will make the change from classic App Engine more difficult than necessary. If it's something you really want to stick with, please make it a compile error or at least not a panic.

[code]

[2015-09-15 23:39] broady commented on #152
What do you end up using that `http.Client` for?

Just trying to understand the use case. It must be something I didn't think of when I made the change.

[2015-09-15 23:41] broady commented on #152
BTW, it's not possible to make this a compile-time error.

[2015-09-15 23:41] derekperkins commented on #152
We use that for all of our BigQuery API interactions.

[2015-09-16 01:09] rakyll commented on #142
When we deprecated the old OAuth package (goauth2), we made a compatibility promise not to break any users, e.g. we made several sacrifices along the way to keep the APIs at the cost of not breaking the users.

The same policy still applies. We don't break our users randomly or favoring the DefaultClient suddenly by breaking the existing implementations. If the default credentials flow is what is

[2015-09-16 01:14] broady commented on #142
I agree. This (submitted) CL fixes that:
https://go-review.googlesource.com/#/c/14622/

I'll file an internal bug about `gcloud app run`.

[2015-09-16 01:15] #152 closed

[2015-09-16 01:15] broady commented on #152
@derekperkins  Please pull and try again.

[2015-09-16 15:39] josephbergevin commented on #152
@broady that fixed it for us. Thanks.

[2015-09-16 15:59] derekperkins commented on #152
Thanks a ton for the quick resolution @broady

[2015-09-16 16:45] rakyll commented on #142
@broady, thanks!

[2015-09-17 11:10] robnorman commented on #151
Thanks @adg ...  kind of embarrassing I didn't check the URL when working with oauth2 :blush:

Anyway, I've submitted a patch on Gerrit: https://go-review.googlesource.com/14681

[2015-09-18 13:06] hariever opened #153 "Google and oauth2 issue"
I've setup google oauth for my domain and it's working fine but a few things in my home page throwing 403. Upon checking via developer tools, the end points with /api throwing 403 but if I access them directly in the same browser it's showing the json content correctly. I feel like there is a double authentication required, not sure though. Can someone please shed some light on this.

As per devel

[2015-09-21 17:56] #151 closed

[2015-09-23 04:36] odeke-em commented on #4
The coverage has improved quite a bit since this issue was reported until currently on commit 82de3fe653a61c1b0174fba87c5f1ca06226ed51

[code]

[2015-09-23 18:13] alexdeefuse opened #154 "Facebook long lived access token"
Hi,

Is there a way I can use golang oauth2 to extend short lived facebook access tokens?
With the new version of Go 1.5 I cannot use the "internal" package.

What I used to do with the 1.4 version of go is:
[code]

Is there a "supported" or "suggested" way to do this with Go 1.5 that doesn't allow the usage of the "internal" package?

Thanks,
Alex

[2015-09-24 05:06] adg commented on #154
I suppose we could add support for this Facebook proprietary extension to the oauth2/facebook package. Got a link to the docs on `fb_exchange_token`? Or better yet, want to send [a change](https://golang.org/doc/contribute.html)?

[2015-09-24 09:14] alexdeefuse commented on #154
Hi Andrew,

The docs can be found at:
https://developers.facebook.com/docs/facebook-login/access-tokens

You'll need to scroll all the way down to "Expiration and Extending Tokens".

I'm also keen to get involved into solving this. There are a few options that I see:

1. In the "facebook" package I see adding a "ExtendToken" function. The "facebook" package would import the "internal" package and

[2015-09-25 03:13] adg commented on #154
I think `retrieveToken` on its own is a bit hard to decipher. Most users wouldn't know what to do with it, and having it around will just add to clutter in the package. I think we're better off just supporting the Facebook-specific functionality in the `oauth2/facebook` package.

As for option 1, what would the function signature of `ExtendToken` look like?

[2015-09-25 13:46] alexdeefuse commented on #154
For the signature, I was thinking something like this:

[code]

[2015-09-27 02:43] abourget commented on #84
So is this fixed, then ?

[2015-09-27 02:52] abourget commented on #111
+1 on this.. or add slack.com .. just like `api.netatmo.net` was added.. what's the special process to get one in ?  I'd be for `RegisterBrokenAuthHeaderHost` or something alike.

[2015-09-27 02:54] abourget commented on #111
Sorry, going back to https://github.com/golang/oauth2/pull/129 .. I wasn't set up to do Gerrit reviews.. so I dropped it there.. but I'd prefer a Register call nonetheless.

[2015-09-28 04:18] adg commented on #154
It's not really obvious to me what it does or what it should do. What would the documentation say? (Sorry for the delayed response here.)

[2015-09-28 17:16] rakyll commented on #154
How is extending token different from a token refresh?

[2015-09-28 18:03] rakyll commented on #111
I'd prefer we export the list. There is less harm in exporting BrokenAuthHeaderHosts than a Register function. Registration makes broken implementations more legitimate. An exported list with an awful name that helps the programs reading who is not implementing the spec fully is a safer option.

[2015-09-28 18:25] rakyll commented on #84
@johnl, the trivial cache implementation is removed because we were not able to come up with a generic and useful cacher interface. I think a wrapper cacher RoundTripper is the perfect solution although it is not documented anywhere.

[2015-09-28 18:33] #150 closed

[2015-09-28 18:36] rakyll commented on #148
If you ask Google APIs specific questions on the support mediums Google+ provides, you may get a faster response. This repo is the implementation of the OAuth 2.0 spec with helpers for Google's auth flows. None of us has expertise to answer API-specific questions.

[2015-09-28 18:36] #148 closed

[2015-09-28 18:39] rakyll commented on #130
We don't support API-specific support on the issue tracker, or support broken OAuth 2.0 implementations. If the package has a compliance problem with the OAuth 2.0 spec, please report the case.

[2015-09-28 18:39] #130 closed

[2015-09-28 18:40] rakyll commented on #81
This must be resolved now, closing.

[2015-09-28 18:40] #81 closed

[2015-09-28 18:42] rakyll commented on #125
Could you forward your questions to Google+ APIs team? I have limited knowledge about the API-specific functionality and limitations.

[2015-09-28 18:42] #125 closed

[2015-09-28 18:47] rakyll commented on #153
Could you please contact the Admin SDK support or their support channels? We don't have much expertise about specific Google APIs and our recommendations might be misleading.

[2015-09-28 18:47] #153 closed

[2015-09-28 19:08] alexdeefuse commented on #154
@adg

[code]

[2015-09-28 19:17] alexdeefuse commented on #154
@rakyll yes, they are. As I understand things from the facebook docs (excerpt and link posted below), the lifetime of the facebook token is directly linked to requests being made at regular time intervals so the token doesn't expire.

Facebook dev docs excerpt:

Native mobile apps using Facebook's SDKs will get long-lived access tokens, good for about 60 days. These tokens will be refreshed once p

[2015-09-28 20:59] rakyll commented on #154
Thanks for the reference. ExtendToken under oauth2/facebook sounds like a good option to me. Let's wait for @adg for consensus.

[2015-09-29 00:52] adg commented on #154
Okay, this sounds good to me. Please go ahead and send a CL. Thanks.

[2015-09-29 17:44] alexdeefuse commented on #154
I have a problem and would love to hear your thoughts about it. The problem is related to the oauth2.Token "raw" field. Because I'm writing my code in package "facebook" there is no way for me to populate this "raw" field (because Token belongs to package "oauth2").

Should I just ignore this raw field?

Here is what I have so far (including the commented out "raw" field):

[code]

[2015-09-29 19:12] rakyll commented on #154
Is Facebook returning other meta values as a part of the fb_exchance_token? It must be ok to ignore the raw if that's the case.

The raw field helps to read additional meta values returned as a part of the response, in addition to access token, token type, refresh token and expiry.

[2015-09-29 19:58] alexdeefuse commented on #154
@rakyll all they return is below:

[code]

Will try to send these changes now, fingers crossed.

[2015-09-29 21:00] alexdeefuse commented on #154
Let me begin by saying sorry for wasting everyone's time.
I've done some more tests and it seems that the extend token call does absolutely nothing.
When the docs say "web login" they are referring to logins done using the javascript api they expose.
Found this out by implementing the login mechanisms both in javascript and go and then looking at the "expiration" fields.

Again, really sorry for w

[2015-09-29 21:00] #154 closed

[2015-10-08 11:42] giganteous commented on #111
NEWS from the github enterprise side:

https://enterprise.github.com/releases/2.3.4/notes

Perhaps thanks to some pushing as a Github:E user.

[2015-10-08 14:57] bradfitz commented on #111
@giganteous, excellent.

[2015-10-08 14:58] bradfitz commented on #111
I'm still okay with a `Register` function, but not with exporting the list.

[2015-10-12 13:00] tclass commented on #154
So I have to redirect the user every 1-2 hours or could I just do dummy requests to the Facebook API to hold the Access Token valid? How did you implement it @alexdeefuse (1-2 hours seems pretty short)

[2015-10-12 17:59] alexdeefuse commented on #154
@tclass From what I understood from the FB docs and the tests I did, the expiration of a token is dictated by its type and the way you get that token. The 1-2 hours expiration period, I've been able to get an expiration of that length only by using JS to authenticate the user (so the auth process is started in the front-end using the JS lib FB exposes). If you use any backend method to auth the us

[2015-10-27 14:52] crhym3 commented on #131
https://go-review.googlesource.com/16308

[2015-10-27 16:49] bradfitz commented on #131
Okay, I read this now. Let's just use a func. Then the caller can do a channel or goroutine if they want.

Maybe we create a new TokenSource which calls your func when the Token is refreshed.

[code]

/cc @adg @rakyll

[2015-10-27 16:54] crhym3 commented on #131
Sounds good to use a func but it would be redundant to call it every time a token is used. It suffices to call `notify` only when the token is refreshed.

[2015-10-27 16:57] bradfitz commented on #131
Yes, you would compose it with a `ReuseTokenSource` to get that effect.

[2015-10-27 17:15] crhym3 commented on #131
Right. It's just [Config.TokenSource](https://godoc.org/golang.org/x/oauth2#Config.TokenSource) already returns a `reuseTokenSource`. So, if you start with a `Config`:

[code]

Unless, `Config` could as well provide:

[code]

[2015-10-27 17:18] bradfitz commented on #131
I'd prefer the composable way, rather than the all-in-one, one-special-case way.

[2015-10-27 17:23] crhym3 commented on #131
Alright. I'll work on a CL.

[2015-10-27 20:33] crhym3 commented on #131
https://go-review.googlesource.com/16370

[2015-10-28 17:01] crhym3 commented on #131
Closing as duplicate of https://github.com/golang/oauth2/issues/84

[2015-10-28 17:01] #131 closed

[2015-11-01 20:26] gebv commented on #84
If the token has been restored, i can access a resource. But token is not auto-refreshed. Why?
[code]

[2015-11-02 04:54] gebv commented on #84
When your mind is fresh... no problems
Working code
[code]

[2015-11-02 18:33] andrewwatson opened #157 "TLS Certificate problems with Github OAuth2"
I'm trying to build/deploy a simple web app on GAE that uses GitHub OAuth2 as a login system but when my app reaches out to fetch the token I get an SSL error:

2015/11/02 03:55:34 CRITICAL: oauthConf.Exchange() failed with 'Post https://github.com/login/oauth/access_token: API error 6 (urlfetch: SSL_CERTIFICATE_ERROR): [Errno 1] _ssl.c:503: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:

[2015-11-03 09:30] luna-duclos opened #160 "google: AppEngineTokenSource does not work with google.golang.org/appengine/aetest"
The new aetest package sets neither the appengine nor the appenginevm build tags.
This results in a panic when using the AppEngineTokenSource, triggered on google/appengine.go:31

[2015-11-03 15:19] kushtrimjunuzi commented on #145
I have same problem and fixed by your patch.

[2015-11-09 14:09] davrux opened #161 "Support for https://login.microsoftonline.com"
Add "https://login.microsoftonline.com" to brokenAuthHeaderProviders in internal/token.go.

Without a call to conf.Exchange() will generate the following error:

AADSTS90014: The request body must contain the following parameter: 'client_secret or client_assertion'.

[2015-11-09 22:45] #161 closed

[2015-11-10 15:33] plalloni commented on #145
I'm sorry that I didn't had the time to create the Gerrit code review yet... :disappointed:

[2015-11-16 06:11] ohler opened #163 "Please add Salesforce to brokenAuthHeaderProviders"
Pull request #135 did this but was reverted: https://github.com/golang/oauth2/pull/135/files

The prefixes could probably be as specific as
`"https://login.salesforce.com/services/oauth2/"` and
`"https://test.salesforce.com/services/oauth2/"`, according to [their documentation](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_understanding_oauth_endpoints.htm).  I've

[2015-11-16 06:31] adg commented on #163
I sent this change:

https://go-review.googlesource.com/16856

On 16 November 2015 at 17:11, Christian Ohler <notifications@github.com>
wrote:

[2015-11-16 18:10] jerbob92 opened #164 "Why can't we add bad providers ourself?"
I'm currently trying to implement a provider that did not follow the spec.
Currently the only way to get it working is by creating a fork and add it to the bad providers list.

The code tells me the following:
[code]

Why is this? I think there are many broken providers, is it really worth adding them all to the list by MR?

[2015-11-16 19:21] cnbuff410 commented on #164
Refer to lengthy discussion about this topic here:

https://github.com/golang/oauth2/issues/111

[2015-11-16 19:55] jerbob92 commented on #164
Thanks, I missed that one!

[2015-11-16 21:36] rakyll commented on #111
+1 to the Register function, will send a CL soon.

[2015-11-16 23:58] #163 closed

[2015-11-18 15:42] PrafullaKumarSahu commented on #84
Can anyone help me http://stackoverflow.com/questions/33754177/google-analytics-custom-plugin-getting-error-invalid-grant and full source code is here https://gist.github.com/PrafullaKumarSahu/e5c4facbe6431bf55753

[2015-11-24 07:02] ohler opened #165 "Salesforce doesn't like receiving a scope= query param on the token endpoint"
The example in https://godoc.org/golang.org/x/oauth2#ex-Config doesn't work with Salesforce; to make it work, we have to set `conf.Scopes = nil` before the call to `conf.Exchange()`.

See also https://help.salesforce.com/apex/HTViewHelpDoc?id=remoteaccess_oauth_web_server_flow.htm&language=en , where "scope" is a documented query param for the authorization endpoint but not the token endpoint.  Th

[2015-11-24 14:10] lukashes commented on #154
Its useful feature to retrive long-live token.

[2015-11-26 08:37] ohler opened #166 "brokenAuthHeaderProviders mechanism insufficient for Salesforce"
Turns out that URLs of the form `https://*.force.com/` and `https://*.*.force.com/` can also host Salesforce OAuth provider endpoints, and they require the brokenAuthHeaderProviders workaround.  See http://resources.docs.salesforce.com/198/13/en-us/sfdc/pdf/salesforce_communities_implementation.pdf at the top of page 108.

It would be convenient if I could call `RegisterBrokenAuthHeaderProvider` w

[2015-11-28 14:39] rakyll commented on #166
You can register lazily, providerAuthHeaderWorks is called during token retrieval. What we can improve is to make RegisterBrokenAuthHeaderProvider safe for concurrent use.

[2015-11-28 14:53] rakyll commented on #154
@alexdeefuse, according to the docs explained at https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension, a typical use case for extending a token could be doing the consent-requesting login on the frontend and extending the token (with the use of the short-lived token) on the server. `ExtendToken` could still be a useful functionality for this use case.

[2015-11-28 15:55] lewgun commented on #84
@rakyll  `I think a wrapper cacher RoundTripper is the perfect solution although it is not documented anywhere.`  is it here now ?

[2015-11-29 02:24] ohler commented on #166
If that's the way you want to go, I would recommend making the Register function idempotent (maybe backed by a map instead of a slice of strings), since otherwise the caller needs extra logic (and its own locking) to avoid adding duplicates to the list and growing it without bound.

A flag somewhere in oauth2.Config/Endpoint would be so much simpler, though...  I understand the desire to avoid exp

[2015-11-30 10:18] alexdeefuse commented on #154
@rakyll Indeed, as I mentioned in one of my previous comments, the "ExtendToken" would be a method that could be used with the JS library FB exposes. I will send a pull request ASAP to cover this case.

[2015-12-16 01:47] ssenthil416 opened #167 "Post : unsupported protocol scheme """
Below go lang code gives these error "Post : unsupported protocol scheme ""

How to resolve this error or what mistake is done

package main
import (
       "fmt"
       "golang.org/x/oauth2"
)
func main() {
    conf := &oauth2.Config{}
    tok, err := conf.PasswordCredentialsToken(oauth2.NoContext,"test","test1")
    if err != nil {
       fmt.Println("err is", err)
    }
    fmt.Println("token i

[2015-12-16 04:02] rakyll commented on #167
Zero configs are not valid. We should probably return a better error message here.

[code]

[2015-12-17 02:46] ssenthil416 commented on #167
I tried with above config, but still got error like
err is Post https://provider.com/o/oauth2/token: tls: oversized record received with length 20291
token is  <nil>

[2015-12-17 02:47] jpmonette opened #168 "Converting internal.Token to oauth2.Token"
I'm trying to convert `internal.Token` to `oauth2.Token` when using a broken auth (Salesforce), but my code doesn't seem to work right.

[code]

Error:

[code]

Any clue what I could do to make this work?

Thanks

[2015-12-30 15:26] purpleKarrot opened #169 "CodePlex requires state parameter for token exchange"
According to the documentation (https://www.codeplex.com/site/developers/api/authentication), the same `state` parameter used for authorize is also required to exchange a token.

Is this another spec violation?

[2016-01-19 11:55] arvenil commented on #107
Are there any examples of implementing (Resource Owner Password Credentials Grant
)[https://tools.ietf.org/html/rfc6749#section-4.3] flow with this library?

[2016-01-19 18:51] rakyll commented on #168
You are not supposed to import the internal package. Go 1.5+ doesn't even allow you to import import packages. Why do you import the internal package? `internal.RetrieveToken` is an internal implementation detail you should never care about.

[2016-01-19 18:53] rakyll commented on #167
`https://provider.com/o/oauth2/token` is not a real authorization token endpoint. Please replace it with the actual authorization and token endpoints of your OAuth 2 provider.

[2016-01-19 18:56] #168 closed

[2016-01-19 19:15] dghubble commented on #107
I apologize for the self-reference, but [gologin](https://github.com/dghubble/gologin) just [calls through to golang/oauth2](https://github.com/dghubble/gologin/blob/master/oauth2/login.go) and has tiny example sites you can run from the command line, with Google, Github, or Facebook login. Perhaps that is useful to you OP.

[2016-01-19 19:26] rakyll commented on #169
`state` is recommended but not enforced by the spec in authorization requests (see https://tools.ietf.org/html/rfc6749#section-4.1.1). The client should allow passing a state parameter though.

We need to break the current APIs in order to properly implement the spec.

/cc @adg

[2016-01-21 00:19] adg commented on #169
The `oauth2.Config.AuthCodeURL` method already takes a `state` argument, so we already implement the spec for Authorization Requests (4.4.1).

The CodePlex docs say that a 'state' parameter is required for Access Token requests (which I believe is what @purpleKarrot is pointing to). This is not what the oauth2 spec says (see [4.4.3 - Access Token Request](https://tools.ietf.org/html/rfc6749#sectio

[2016-01-21 00:19] #169 closed

[2016-01-21 01:50] rakyll commented on #169
Sorry for the noise. The state parameter provide protection from CSRF attacks. In the scope of authorization requests, it is not needed.

[2016-01-21 06:27] odeke-em commented on #4
We are now at 75.6%
[code]

One day we'll go higher :)

[2016-01-26 08:25] wenruij opened #170 "0-legged Oauth Supporting ?"
Hi,
Just wondering is it possible to do an 0-legged Oauth by your `oauth2`?
saying i just get an API key / secret as the consumer key, without any token, is it possible to get the signed url with your `oauth2`?

[2016-01-26 22:48] arvenil commented on #84
Is there currently any workaround for this problem?

[2016-01-27 05:41] adg commented on #170
Is that even OAuth2? It doesn't sound like it.

[2016-01-27 10:50] arvenil commented on #84
Ok, I see bug with refreshing token got fixed: https://github.com/golang/oauth2/commit/cc2494a288f7645968af9c7293faf02e6371a377 right? Great.

However, original question remains - what's currently proper way to save and restore token? Is there any kind of event when when token get's changed? Any example how to achieve that?

[2016-01-27 12:23] arvenil commented on #84
Below pseudo code seems to work. Is this a way to go?

[code]

[2016-01-27 20:17] rakyll commented on #84
@arvenil, a wrapper RoundTripper would look like what's below:

[code]

[2016-01-28 16:16] arvenil commented on #84
Thank you very much @rakyll
Before your example I've tried different approach and ended up with wrapper around `TokenSource` and that seems to work too.

I wonder if there is any advantage or disadvantage of any of those solutions - in any case if someone wants to experiment here goes the code:)

[code]

[2016-02-01 22:20] rakyll commented on #84
@arvenil

It looks like it is a lot more readable to implement a race-free `cachedTokenSource` implementation, even though yours has a race condition. I shared the RoundTripper wrapper since it is mentioned by @lewgun, but it clearly needs to have the token guarded by a lock as well.

[2016-02-23 17:54] arvenil opened #173 "please consider returning more descriptive errors like `ErrInvalidRequest`"
https://tools.ietf.org/html/rfc6749 defines error responses returned to clients, however this library seems to completely shadow received responses so one can't distinguish between different type of errors.

For example for `Resource Owner Password Credentials Grant` (https://tools.ietf.org/html/rfc6749#section-4.3) RFC6749 defines error message and codes in https://tools.ietf.org/html/rfc6749#sec

[2016-02-27 19:15] kliron opened #174 "Calling slack API endpoints fails with "not_authed""
I am able to get an authorization token but when calling the test.auth endpoint (https://slack.com/api/auth.test), slack complains with:

`{ok: false, error: not_authed}`

The reason is that Slack expects the parameter "token" instead of "access_token" to be set. Requesting with `https://slack.com/api/auth.test?token=[...]` succeeds.

[2016-03-02 07:46] netroby opened #175 "Where is twitter oauth support?"
Where is twitter oauth support?

[2016-03-02 08:05] netroby commented on #175
https://dev.twitter.com/web/sign-in/implementing
the oauth login dev guide

[2016-03-02 21:57] adg commented on #175
Out of the scope of this package.

[2016-03-02 21:57] #175 closed

[2016-03-09 15:16] ncw opened #177 "oauth2 doesn't follow 301 redirects"
I'm using oauth2 very succesfully in rclone (rclone.org). I'm having trouble with the hubic implementation though.  It works perfectly nearly all the time, but every now and again it returns this error when it tries to refresh the token.

[code]

I think this error is probably coming [from here](https://github.com/golang/oauth2/blob/master/internal/token.go#L176).

I don't know whether this is a p

[2016-03-16 07:04] jimenez opened #178 "Internal package imports brakes builds for go 1.6 when vendored"
When building with go 1.6 or 1.5 with experimental vendoring enabled, I have the following error:

[code]

How to reproduce:
`go build` the following code and make sure it builds:

[code]

then  `godep save` with go 1.6 or go 1.5 + `export GO15VENDOREXPERIMENT=1`, it will create the Godeps and vendor folders.
Then try to build again with `go build` (is going to use the files in vendor this time) a

[2016-03-17 01:39] adg commented on #178
Can you please provide more information? Perhaps the output of `find . -type d` from the parent of the `vendor` directory?

[2016-03-17 05:04] alltom opened #179 "Set User-Agent?"
I'm using the reddit API, which frequently returns HTTP 429 unless you set a custom User-Agent header. Is there a hook for setting that header?

[2016-03-18 23:00] jimenez commented on #178
Hi @adg,

Here's the result `find . -type d` from the parent of the `vendor` directory of the example I describe above:

[code]

And here is a simple `find .` for the whole view:
[code]

[2016-03-18 23:27] jimenez commented on #178
@adg thanks,
`godep save ./...` solves my problem.

[2016-03-18 23:27] #178 closed

[2016-03-21 03:33] liquidmetal commented on #84
Can someone please write a self-contained example of how to make use of `ReuseTokenSource`?

[2016-03-21 10:04] arekkas commented on #138
The implicit grant flow doesn't work with golang because you have no (sane) way of catching the response as everything behind the hashtag isn't sent to the server as per RFC. So I guess the approach you proposed (hijacking the redirects) is the only possible imho. :)

[2016-03-21 14:24] arekkas opened #180 "Travis CI IPs should be whitelisted"
[code]

[2016-03-21 21:51] adg commented on #180
Travis CI should implement caching on their side to avoid hammering Google's Git repositories. The limits are pretty high. Please report this issue to Travis CI.

[2016-03-21 21:51] #180 closed

[2016-03-21 23:37] rakyll commented on #84
@liquidmetal, is your question related to the caching example above? If it is not, could you please ask it on golang-nuts mailing list or other user question facing mediums where you can retrieve a faster response?

[2016-03-21 23:48] rakyll commented on #179
You can set a base custom RoundTripper on https://godoc.org/golang.org/x/oauth2#Transport. The custom RoundTripper could modify each request object to set a user-agent.

Leaving a very rough pseudo code like example below.
[code]

[2016-03-21 23:48] #179 closed

[2016-03-23 22:11] jbizzle commented on #166
(Including @bradfitz in case he has some historical context to share)

As another option, could we make a change to add something like RegisterBrokenAuthHeaderProviderRegexp() that would allow us to specify a single pattern that would match all of the hosts we need to handle? This would be totally backwards compatible and is still in the spirit of the current API.

[2016-03-25 03:48] bradfitz commented on #166
Can we just hard-code `force.com` as broken in the source, rather than require them to be registered?

[2016-03-25 04:04] jbizzle commented on #166
Do you mean [brokenAuthHeaderProviders  in token.go](https://github.com/golang/oauth2/blob/master/internal/token.go#L92|the list in token.go)? If so I'm not sure if that addresses what we need, since we're trying to match a specific category of wildcard subdomains within force.com, but not force.com itself.

[2016-03-25 04:55] bradfitz commented on #166
Can you give some examples of which should be included and which shouldn't?

Do they always have hostnames ending in `.force.com`?

[2016-03-25 17:11] jbizzle commented on #166
They do always end in ".force.com". The URLs that we need to deal with look like "ourapp-version.xy.force.com". The "ourapp" is constant, but the "version" and "xy" values change independently, often, and in ways we can't know or control ahead of time.

[2016-04-17 19:02] stapelberg commented on #84
@rakyll, could you please elaborate on the specific issue(s) with the Cache interface (providing a Read and Write method) that was removed in https://github.com/golang/oauth2/commit/93ad3f4a9ef21ece608bdf66c177b7573de9fcf7? Which use-case(s) did it not cover?

I’m honestly curious and interested in coming up with a solution that would work — I think we could make the oauth2 library a tad easier to

[2016-04-18 07:32] elimisteve opened #182 "Support custom http.Clients"
I don't know how to do SOCKS5-proxied requests without supplying my own `http.Client`, and I don't see how I can pass my own custom `*http.Client` to `oauth2` to be used for requests without monkey-patching/overriding `http.DefaultClient`.

If this wasn't internal https://github.com/golang/oauth2/blob/master/internal/transport.go#L37 , then I could create the `Context` I need with `context.WithVal

[2016-04-18 15:55] elimisteve commented on #182
Nevermind, got it: `context.WithValue(context.Background(), oauth2.HTTPClient, myCustomClient)`.

[2016-04-18 15:55] #182 closed

[2016-04-28 01:21] tylerd-porch commented on #157
You may need to add a custom http client with certificates included in its Pool. I'm not sure if GAE provides the appropriate certs.

Example: https://github.com/kelseyhightower/contributors
Or my own: https://github.com/tydavis/curlgo

[2016-04-28 14:44] rakyll commented on #157
/cc @broady

[2016-04-28 20:02] broady commented on #157
I think this is something to do with the root CA.

@andrewwatson, I know we talked about this already, but are you still seeing this?

[2016-04-28 22:16] broady opened #183 "JWT package needs to expose "Iss" and "Aud""
https://godoc.org/golang.org/x/oauth2/jwt

[2016-04-28 22:18] broady commented on #183
Actually, I think "Email" and "TokenURL" need to be renamed to something that better represents what they're doing.

For example, "Aud" doesn't need to be a token URL.

[2016-04-28 22:20] broady commented on #183
Actually, maybe this package just has a confusing name. As the docs say, it's implements "OAuth 2.0 JSON Web Token flow". It's not a general purpose JWT library.

[2016-04-28 22:20] #183 closed

[2016-05-25 08:23] shyamsalimkumar opened #185 "ConfigFromJSON cred struct outdated?"
[code]

Copy pasted the [example code](https://developers.google.com/sheets/quickstart/go#step_3_set_up_the_sample) and ran it.

Data from the spreadsheet that the code is supposed to try to read.

[code]

I noticed that the client secret file downloaded from the Google App console doesn't correspond to [this structure](https://github.com/golang/oauth2/blob/master/google/google.go#L45-54) instead

[2016-05-25 10:20] adg commented on #185
@okdave is it likely that the cloud console has changed its export format? 😢

[2016-05-26 04:51] okdave commented on #185
That seems like it would be a big breaking change. I'll have to look.

[2016-06-01 00:33] josephholsten opened #186 "add passwordcredentials client like clientcredentials"
https://go-review.googlesource.com/c/23834/

In order to use PasswordCredentialsToken, a TokenSource needs to be provided. It's not complicated to have one of these readily available, in the style of `golang.org/x/oauth2/clientcredentials`.

It would also be good to have #146, which would fix #110.

[2016-06-01 00:39] josephholsten commented on #186
CL in http://golang.org/cl/23611/

[2016-06-01 00:40] josephholsten commented on #186
needs tests and doc

[2016-06-01 01:56] josephholsten commented on #186
Tests done, doc needs review

[2016-06-02 18:48] josephholsten commented on #186
doc should be ready

[2016-06-07 06:52] josephholsten commented on #186
reverted by https://go-review.googlesource.com/#/c/23841/, apparently this requires more discussion

[2016-06-07 06:56] josephholsten commented on #186
@rakyll I added another comment to the CL, you made a great point. That's how I ended up submitting this. This "reimplements" https://godoc.org/golang.org/x/oauth2#Config.PasswordCredentialsToken using the same implementation pattern from https://godoc.org/golang.org/x/oauth2/clientcredentials, because using PasswordCredentialsToken as is requires implementing a wrapper TokenSource.

I'm planning

[2016-06-14 19:01] mh-cbon commented on #178
Hi @adg

I would like to re open this bug.

I m facing the problem.

[code]

I m unsure why go works like [this](https://github.com/golang/go/blob/0deb49f9c09d15bf0e4c5ec843bd374f9a377e97/src/cmd/go/pkg.go#L511)

Is it possible to implement a simple work around ?

thanks!

[2016-06-15 04:16] adg commented on #178
@mh-cbon you're importing the package as `github.com/golang/oauth2` when its canonical import path is `golang.org/x/oauth`. Rename the directory hierarchy and your imports and it should work fine.

[2016-06-15 08:15] mh-cbon commented on #178
worked for me,

really just
[code]

thanks, sorry for that!

[2016-06-22 16:58] drewwells opened #187 "self-signed or invalid certificate"
There doesn't appear to be a way to modify the config.Client to accept invalid certificates. Is it necessary to use the low-level transport directly to support this usecase?

[2016-06-22 17:07] drewwells commented on #187
Answered my own issue, easily done by wrapping with a context:

[code]

[2016-06-22 17:07] #187 closed

[2016-06-22 20:44] drewwells commented on #110
This somewhat related to another issue. Access Token is sending client_id when authorization header is provided. The spec states that this is not required and some oauth2 servers will error if client_id is sent on authenticated requests: http://tools.ietf.org/html/rfc6749#section-4.1.3

[2016-06-22 21:01] drewwells opened #188 "scope is sent on access_token exchange"
Scope is not listed as a parameter for the access_token exchange in the spec. http://tools.ietf.org/html/rfc6749#section-4.1.3 So this can cause issues if the oauth server verifies each parameter is valid.

[2016-06-26 03:21] plalloni commented on #188
This is fixed in #146 and submitted for review at https://go-review.googlesource.com/#/c/23790/.

[2016-06-26 03:27] plalloni commented on #165
I believe this is fixed by #146 which is submitted for review as http://golang.org/cl/23790.

[2016-06-27 13:47] drewwells commented on #145
Would love to see this merged, it also fixes my issues using oauth2 #188

[2016-06-30 01:56] renannprado commented on #178
I'm importing `golang.org/x/oauth2` and still get the same issue.
Should I vendor `github.com/golang/oauth2` instead?

[2016-06-30 17:04] SamWhited opened #189 "jws: Decode ignores private claims"
`jws.Encode` properly encodes private claims, however, `jws.Decode` ignores private claims and the resulting structure only contains the standard claims. It should also populate the "Private Claims" field.

The following modification to `TestSignAndVerify` will currently fail:

[code]

*EDIT*: Since there doesn't appear to be an easy way to fix this issue in the jws package with `encoding/json`, I

[2016-07-08 15:12] micahhausler commented on #165
@plalloni I tried using your fork, and Salesforce oauth still didn't work. The `internal.RetrieveToken()` function only sets the client_secret if `bustedAuth && ClientSecret != ""`. Since Salesforce oauth TokenURL can be on an arbitrary subdomain, the `providerAuthHeaderWorks()` function as-is won't correctly work.

[2016-07-17 11:39] ramoas opened #190 "jws: base64Encode / base64Decode: Why not just use base64.RawURLEncoding?"
Is there a good reason why jws.base64Encode and jws.base64Decode are not just using base64.RawURLEncoding?

It seems like jws.base64encode should just call base64.RawURLEncoding.EncodeToString(b) (no TrimRight needed):
https://github.com/golang/oauth2/blob/master/jws/jws.go#L178-L180

Similarly, it seems like jws.base64decode should just call base64.RawURLEncoding.DecodeString(s) (no switch needed

[2016-07-18 00:28] okdave commented on #190
At the time this library was written we needed to support Go 1.4. We now only support 1.5+ (and these Raw versions were [introduced in 1.5](https://golang.org/doc/go1.5#minor_library_changes)), so we can make this simplification. Thanks for pointing it out.

[2016-07-18 01:12] #190 closed

[2016-07-18 04:41] ramoas commented on #190
@okdave I only started using GO after 1.5 :)  Thanks for implementing the cleanup.

[2016-07-21 21:15] ramoas opened #192 "jws: Header.Typ - add json annotation "omitempty""
Quoting from [RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1.9), typ is optional:

Thus, it would be nice to omit it when not set.

[2016-07-21 21:27] ramoas opened #193 "jws: Header - make fields extensible or implement other registered ones"
Support for Key ID ("kid") was recently added as a supported Header field.  I was using Key ID prior to its addition, but because there's no extensible way to add Header fields, I had to basically duplicate all the other code.

There are other optional header fields mentioned in [RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1) that remain unimplemented.  For example, "jwk" and "x5c".

I

[2016-07-21 21:32] ramoas commented on #189
@SamWhited Yes, re-use of the existing types is currently difficult if you need customization.  I recently raised Issue #193 to request extensibility of Header along the lines of ClaimSet.PrivateClaims.  Hopefully, some more considerations for extensibility will be provided so you're not forced into vendoring or outright code duplication.

[2016-07-21 21:39] ramoas commented on #192
Even in the context of a JWT, use of typ in the JOSE header remains optional.  Quoting from [RFC 7519](https://tools.ietf.org/html/rfc7519#section-5.1):

[2016-07-25 11:21] robinwassen opened #194 "Dependencies are not properly installed when using App Engine SDK"
**Steps to reproduce:**
- Install the latest App Engine SDK 1.9.40
- Setup the $GOROOT and $GOPATH
- Run `goapp get golang.org/x/oauth2`

**Expected results:** The oauth2 pkg and dependencies should install

**Actual results:** The oauth2 dependency "google.golang.org/appengine/urlfetch" fails to be installed.

**Manual work around:** Run `goapp get --tags appengine golang.org/x/oauth2`

I tried t

[2016-07-25 11:21] #194 closed

[2016-07-25 18:35] rakyll commented on #194
Is this still an issue or closed because you were able to find a solution?

[2016-07-29 13:37] orloffm opened #195 "Move client_appengine.go to a sub-directory"
Suggestion, I'm not sure if it is not stupid. Currently when using a package manager like `glide` the whole app engine code is downloaded, even though I'm not planning to use anything Google-related.

[2016-08-24 23:22] rakyll opened #196 "Move jws to an internal repo"
Package jws is misleading the users that it might be a full JWS implementation even though it is a partial implementation to implement the JWT flow.

Due to the fact we promised not to break any APIs, we cannot move this package to the internal right away. Good news is that, according to the public Github usage, there are very few instances of the jws package is being imported.

We should contact

[2016-08-24 23:24] rakyll commented on #196
And there are a few non-Github importers: https://godoc.org/golang.org/x/oauth2/jws?importers

[2016-08-24 23:26] bradfitz commented on #196
Start by adding a warning notice to the top of the package doc, and then that locks down the list of people we need to responsibly notify.

If anybody new comes along after the package doc, it's their fault.

[2016-08-26 18:09] rakyll commented on #195
We promised not to break any APIs. Given that, I do not think we can move the package, otherwise we should instruct the appengine users to include the new sub package for the side effects.

[2016-08-26 18:11] rakyll commented on #193
Is there any case where the header can be considered in the scope of JWT? JWS package is not a generic implementation of JSON Web messages but rather is scoped to its use with OAuth2 JWT. Also see https://github.com/golang/oauth2/issues/196.

[2016-08-26 18:13] rakyll commented on #188
I am in favor of merging https://go-review.googlesource.com/#/c/23790/ if we can find an opportunity to verify it for the existing providers.

[2016-08-26 18:16] rakyll commented on #185
@shyamsalimkumar, what's your client_secret.json is like and where did you download it from? Could you share us the JSON layout (not the credentials themselves) from that file?

[2016-08-26 18:20] rakyll commented on #177
HTTP client is automatically following 301s unless Client.CheckRedirect says otherwise. It is unlikely that it is coming from https://github.com/golang/oauth2/blob/master/internal/token.go#L176.

Are you sure that the http.Client you are using is not disabling redirects?

[2016-08-26 19:10] shyamsalimkumar commented on #185
@rakyll I'd inserted the structure in the first message

I'm not sure if the client_secret.json strucutre is still the same (if I were to take a new client_secret.json) as its been a while.

[2016-08-26 20:12] ramoas commented on #193
@rakyll Yes, the other JWS header types are definitely useful in the context of OAuth2 JWT, especially the two examples that I mentioned: "jwk" and "x5c".  As a workaround, you can encode any arbitrary case-sensitive string in "kid", but if the spec calls for additional header types, it would be great to either implement more of them or make it possible for others to implement them but still reuse

[2016-08-26 21:08] rakyll commented on #193
It would be also good to add extensions to the jwt package so the users can pick a non-default header and grant type. Currently, everyone is restricted to the hardcoded values at https://github.com/golang/oauth2/blob/master/jwt/jwt.go#L28.

[2016-08-27 08:06] ncw commented on #177
Hmm.. my code doesn't set CheckRedirect so it is using the default policy. Apparently neither does oauth2.

I checked out rclone and all its dependencies into a clean GOPATH and grepped them. There were no uses of CheckRedirect.

If it had been a redirect loop then it should have produced this error

[code]

Any other ideas?

Thanks

Nick

[2016-08-29 04:25] jmhodges opened #197 "expose Token.Raw unmarshalling to allow for easier testing"
This is a nice-to-have ticket.

So, the `oauth2.Token` that Slack returns contains data found in `Token.Extra`. I convert that `oauth2.Token` to a nicer to use Token-like struct by pulling the data out of `Extra` and checking the types and so on.

However, in order to test that, I can't just take the example response from their [OAuth docs](https://api.slack.com/docs/oauth), `json.Unmarshal` it in

[2016-08-29 17:27] rakyll commented on #196
Given that jws.Verify is a requirement to verify ID tokens during 2-legged flows, we should keep it around.

[2016-08-31 02:19] kenshaw opened #198 "google: no way to set jws.PrivateClaims (needed for Firebase)"
When using `google.JWTConfigFromJSON`, there is no way to set the underlying `jws.PrivateClaims` on the token. This is needed for use with Firebase when later using the related `oauth2.Transport` and `oauth2.TokenSource`. For reference, Firebase populates a user id variable (named "uid" in the claims) for use with the Firebase security rules that allows impersonating a user. Additionally (although

[2016-09-01 18:02] rakyll opened #199 "google: use endpoints from the JSON credential file if exists"
JWTConfigFromJSON should use the auth and token URL if these values exist in the credentials file. We can keep depending on `JWTTokenURL` if nothing exists.

[2016-09-02 04:25] rakyll commented on #185
The schema is unchanged and the Google secret keys are working for me. Can you make sure that the key you are passing to JWTConfigFromJSON is correct?

[2016-09-02 05:03] #199 closed

[2016-09-03 02:31] kenshaw commented on #198
For an example use case, I have written a `oauth2util` package that provides a generic JWT Bearer Grant TokenSource. It is available here: https://github.com/knq/oauth2util

You can see this being used here: https://github.com/knq/firebase/blob/master/opts.go#L63

To further the discussion above, the `oauth2util.JwtBearerToken` is a token source that uses the `github.com/knq/jwt` package to encode

[2016-09-03 05:18] rakyll commented on #198
/cc @adg

[2016-09-07 11:25] shyamsalimkumar commented on #185
Weird... Got a different structure from before and it worked. :smile:
The current `client_secret.json` structure is as follows.
[code]

[2016-09-07 11:25] #185 closed

[2016-09-07 15:40] asergeyev opened #200 "Add Accept: header when constructing http.Request"
It looks like there are APIs authors who historically worked with XML/JSON apis and written their OAUTH endpoints in similar manner.  I don't think I should be calling out names here...

While it's not required by RFC, the "Accept: application/json" header would be nice addition to all token requests (I also wonder if http client just by default should send Accept: */* but it's probably separate a

[2016-09-07 17:22] rakyll commented on #200
You can construct your own oauth2.Transport and use a base RoundTripper that modifies the request instance. I'd be glad to share a snippet if you need one.

[2016-09-07 23:14] #200 closed

[2016-09-07 23:35] rakyll commented on #177
Is this a GET request or is it your custom error message? I am assuming you are experiencing this at https://github.com/golang/oauth2/blob/master/internal/token.go#L149 and I don't think POST requests are being redirected according to https://github.com/golang/go/blob/2af00eb63cde716b59c0d64f4c3855b83a9d5a63/src/net/http/client.go#L365.

[2016-09-08 01:08] asergeyev commented on #200
Thanks. I'll manage.

[2016-09-20 00:13] kenshaw commented on #198
I realize this is slightly unconnected to this repository, but I wanted to update the ticket.

I have added two sub packages to the original `github.com/knq/jwt` package, namely `jwt/bearer` which provides a generic bearer grant assertion auth flow and `jwt/gserviceaccount` that creates a compatible `oauth2.TokenSource` that can be used with any Google API and uses the generic `knq/jwt`. I have up

[2016-09-22 12:20] pjebs opened #201 "go get not working"
[code]

[2016-09-27 23:55] yanpozka opened #202 "Go 1.7 "context""
Any plan to switch from "golang.org/x/net/context" to the std lib "context" ?

[2016-09-28 03:54] rakyll commented on #202
Not for now, we have API promises to support Go 1.6 on appengine.

[2016-09-28 03:57] #202 closed

[2016-09-28 04:04] yanpozka commented on #201
Your output looks weird, first you're doing a go get and then you're a super user (# cd ...), also those errors are git output, no from **go get**

Try to do a ```go get -v -u golang.org/x/oauth2``` and you'll see how it download all the dependencies. At least it's working for me.

[2016-09-29 11:59] pjebs commented on #201
Can you try deleting out the package from GOPATH and then go getting it again and see if it works?
It simply does not work for me. It spits out those git messages. EVERY OTHER PACKAGE I GO GET WORKS! lol

[2016-10-06 03:56] SamWhited commented on #189
Closing since the JWS package is now deprecated and there are several duplicate issues.

[2016-10-06 03:56] #189 closed

[2016-10-08 21:23] adayoung commented on #173
YES! This! Please!! :heart_eyes:

[2016-10-11 14:15] mabelcorn commented on #173
@adayoung Like I stated in description the only method is to parse whole message for e.g. `invalid_request` or `invalid_grant` - ugly hack but "works".

[2016-10-11 14:18] arvenil commented on #173
@adayoung Like I stated in description the only method is to parse whole message for e.g. invalid_request or invalid_grant - ugly hack but "works".

[2016-10-11 16:56] adayoung commented on #173
@arvenil Oh me too! I ended up writing [this](https://github.com/adayoung/gae-pastebin/blob/cdeb90847c0c1e6905118765003512870dd3e5ff/pastebin/models/errors.go). It probably doesn't cover everything but so far it catches things I'm likely to encounter. I'll have to keep a lookout for when it doesn't! I'd really appreciate if you'd point to some code examples of how you're doing it. I'm just learnin

[2016-10-18 17:17] hypnoglow commented on #84
A simple way to cache refreshed token (for very simple use cases):
[code]

[2016-10-18 22:44] xoraes commented on #201
+1

[2016-10-20 04:47] jacobsa opened #203 "google: retry transient errors in DefaultTokenSource"
As discussed in GoogleCloudPlatform/gcsfuse#187, the GCE metadata server is unreliable, which can cause DefaultTokenSource to return errors. Supposedly retrying works in these cases. (This is nothing but rumors to me; I haven't experienced this but am responsible for a product whose users have.)

It appears (google/oauth2client#581) that the plan for the Python library is to add retries for at lea

[2016-10-20 23:43] rakyll commented on #203
Sounds good. Any suggestions about how many retries and within which time frame?

[2016-10-20 23:52] jacobsa commented on #203
The usual correct answer for this sort of thing seems to be randomized exponential backoff forever (capping the sleep time at a few seconds), until the context is cancelled or an error that doesn't appear to be transient is encountered. I don't see any obvious reason not to do that here.

[2016-10-20 23:55] jacobsa commented on #203
(Within Google see `util/time/backoff.h` for an example implementation. If there's not already a standard Go package for this, I'd use that algorithm with parameters of, say, min 1ms and max 5s.)

[2016-10-21 00:00] rakyll commented on #203
We cannot do it until forever because the client is not historically documented that it might be blocking forever if context is not cancelled, so it would be a breaking change.

gax has a retrier with backoff: https://godoc.org/github.com/googleapis/gax-go#WithRetry.

[2016-10-21 00:11] jacobsa commented on #203
I'm not sure I agree it's a breaking change. What's the difference between retrying transient errors for a long time, and an HTTP request to the metadata server that actually just takes a long time? If you decide to put a cap on the maximum time you spend retrying, how do you choose it? 18 hours might as well be forever, but is 30 minutes? At what point does it become compatible with the old behav

[2016-10-21 01:39] rakyll commented on #203
It matters because the metadata package has already a definite timeout which is 2 secs, see https://github.com/GoogleCloudPlatform/google-cloud-go/blob/master/compute/metadata/metadata.go#L67. Each metadata request is going through this package which is capped at 2 secs already.

Will reimplement, I was not looking closely and didn't see that the status codes were grpc-specific.

[2016-10-21 02:13] jacobsa commented on #203
Thanks, I didn't realize there was a timeout. I still think the context is the one true way for the user to express how long they want to wait for the blocking call, but capping the wait time to a small number times the max timeout would still be very helpful.

[2016-10-21 08:13] romeovs commented on #177
HTTP 301 dictates that the client retries the request at another location with the `GET` method. So while your http client probably retries the request correctly, the method will be wrong.

To redirect that respects the request method, the server should issue a [`307 Temporary Redirect`](https://tools.ietf.org/html/rfc7231#section-6.4.7) or [`308 Permanent Redirect`](https://tools.ietf.org/html/rf

[2016-10-24 05:40] ericuldall opened #204 "Google hosted domain login"
Does this library have support for the Google login hd param? I don't see it documented and can't find it anywhere in the code.

https://developers.google.com/identity/protocols/OpenIDConnect#hd-param

[2016-10-25 00:20] rakyll commented on #204
This package is an implementation of https://tools.ietf.org/html/rfc6749, hd is not specified by the OAuth 2.0 spec.

[2016-10-25 00:24] rakyll commented on #201
Delete the package from GOPATH and go get it again. Your package is modified and git is refusing to pull from upstream.

[2016-10-25 00:24] #201 closed

[2016-10-25 05:54] ericuldall commented on #204
Am I able to add extra parameters to the AuthCodeURL ? I'm trying SetAuthURLParam and it doesn't seem to exist.

[2016-10-25 06:40] ericuldall commented on #204
Ah. Looks like it's oauth2.SetParam in the version I'm using. TY.

[2016-10-25 06:40] #204 closed

[2016-10-30 19:07] xmudrii opened #205 "Go get is error-ing"
I was executing : `go get golang.org/x/oauth2`.
Go version:
[code]
System:
Ubuntu 16.40 Yakkety Yak
[code]
[code]

I was expecting it to install.
I'm seeing:
[code]

Is it some my bad or bug?

[2016-10-30 20:13] rakyll commented on #205
go version devel +f135106 Sun Oct 30 19:14:08 2016 +0000 darwin/amd64 is working. Please update the Go source to the HEAD and retry.

This problem is caused by https://github.com/golang/net/commit/dffc95cbb4ff9af8614b2741ec26371fffcc19b3, so you shouldn't use Go from tip prior to this specific commit.

[2016-10-30 20:13] #205 closed

[2016-10-30 20:40] xmudrii commented on #205
Thank you very much. I updated Go to latest (go version devel +f135106 Sun Oct 30 19:14:08 2016 +0000 linux/amd64) and it is working. :+1:

[2016-11-03 00:01] zachgersh opened #206 "when constructing an oauth2 client - http.Client Timeout is not passed on"
Hey All,

I can fix this issue but I'd love to know if this was intentional. Only the values from the `HTTPClient` that pertain to the `Transport` are added to the newly constructed oauth2 client, even if you pass along a full httpclient.

as seen here (does not allow for timeout):
https://github.com/golang/oauth2/blob/master/oauth2.go#L310

only the transport is reattached:
https://github.com/gol

[2016-11-03 17:10] rakyll commented on #206
We designed the http.Client you can retrieve by `HTTPClient` to be used to do internal requests within the package to retrieve tokens from the OAuth2 endpoint.

On the other hand, the client returned from NewClient is used to make requests to an actual API.

It was intentional not to reuse the context http.Client. For most cases, we don't want users to know that they need to pass a http.Client in

[2016-11-03 20:07] adg commented on #186
This CL is still pending, right? https://go-review.googlesource.com/c/23834/

[2016-11-03 21:10] rakyll commented on #186
Even though we promised not to break any APIs, I am suggesting to remove the Config.PasswordCredentialsToken if we merge the passwordcredentials package. I do not think the current API is widely used and keeping the library orthogonal is more valuable than breaking a few users.

[2016-11-04 21:35] josephholsten commented on #186
Yes, I am still using this approach locally. I'm still interested in this CL.

[2016-11-07 01:15] Carrotman42 opened #207 "google: when using DefaultClient, scopes are not used for "authorized_user""
It may be true for other scenarios, but when DefaultClient uses the "application_default_credentials.json" file in tokenSourceFromFile [0], the scopes are completely ignored. Instead, the scopes from the authorized_user login are used.

Took me a long time to figure out what was going on. I had to `gcloud auth revoke`, and then `gcloud auth login` again, manually adding in the extra scope I wanted

[2016-11-08 00:41] zachgersh commented on #206
@rakyll thanks so much for the answer! I don't mind a documentation change but this seems like a sharp edge that a user could miss. If users don't end up passing an `http.Client` in the ctx we still end up with the `DefaultClient` timeouts being nicely set on the returned oauth2 client. If they are passing one in, I believe that it is safe to assume that they want the timeout / configuration value

[2016-11-14 10:00] llitfkitfk commented on #178
need `rm -rf vendor/` then `godep save ./...`

[2016-11-16 19:29] josephholsten commented on #186
@adg is there anything I need to do to move this forward?

[2016-11-17 00:17] ericchiang commented on #128
For anyone looking, we've implemented this feature over at https://github.com/coreos/go-oidc. Feedback welcome.

[2016-11-18 00:58] adg commented on #186
@rakyll what do you think?

[2016-11-18 01:00] rakyll commented on #186
I am in favor of adding a deprecation notice to https://godoc.org/golang.org/x/oauth2#Config.PasswordCredentialsToken and go with @josephholsten's package.

[2016-11-29 08:31] haormj opened #208 "go get golang.org/x/oauth2 is not work"
I am the freshmen in oauth2, because of project required, I want to use golang/oauth2,but I can't use go get, the url is not exist, what should I do? thanks!

[2016-11-30 08:46] #208 closed

[2016-11-30 20:57] rakyll commented on #208
Was there a temporary outage that golang.org was down? How did you resolve this?

[2016-12-01 00:11] haormj commented on #208
git clone from github and go install it
my proxy don't work

[2016-12-02 01:22] haormj commented on #207
hi  I am freshmen,could you give me a example for oauth2, I don't know how to use it,Thanks~

[2016-12-02 04:03] haormj commented on #207
I have understant this package~ it is used to develop client rather than oauth2 server, it's my fault.sorry!

[2016-12-22 19:18] mxplusb opened #211 "Update RFC in clientcredentials docs."
The docs use the [IETF draft](https://tools.ietf.org/html/draft-ietf-oauth-v2-31#section-4.4) when they should be updated to the [final RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.4). I don't see any specific differences in implementation between the draft and the final pub.

Ref: oauth2/clientcredentials/clientcredentials.go#L13

[2017-01-03 08:48] jlubawy commented on #157
I believe this is an issue with the Go App Engine SDK using an invalid/outdated certificate chain.

See if my solution here helps: https://code.google.com/p/googleappengine/issues/detail?id=12588

[2017-01-03 18:12] rakyll commented on #157
I am going to close this issue, I think it should be reported/tracked at the App Engine issue tracker. https://code.google.com/p/googleappengine/issues/list

Please let us know if there is anything to be fixed on our side.

[2017-01-03 18:12] #157 closed

[2017-01-12 19:44] zachgersh commented on #206
@rakyll wanted to poke this again - if you aren't happy with the above suggestion I can 100% just close this issue.

[2017-01-12 21:07] rakyll commented on #206
I am not truly convinced that newly constructed clients needs to inherit its properties from the context client but I think we still need to improve the docs to make it clear this is not the case.

[2017-01-12 21:55] zachgersh commented on #206
@rakyll thanks again - I'll take a stab at updating the docs and providing a contrived example of this (so people don't run into it). Will close this an open a PR (like issues to be nice and tidy).

[2017-01-12 21:55] #206 closed

[2017-01-13 17:56] rakyll commented on #206
Sounds great, thanks @zachgersh!

[2017-02-07 14:48] kylepolich commented on #174
Any resolution for this?  I suddenly started encountering this problem today on a stable code base that hasn't been changed in months.

[2017-02-07 21:19] #110 closed

[2017-02-07 21:19] #145 closed

[2017-02-07 21:19] #188 closed

[2017-02-09 00:16] rakyll opened #214 "internal: Facebook Graph API requires client_id to be present in the token URL"
Per spec, "client_id" request parameter is not required if basic authorization is used to authenticate requests to the OAuth 2.0 provider.

[cl/23790](https://go-review.googlesource.com/c/23790/) removed the client_id parameters to be passed in the URL during token requests but broke the Facebook support. Given Facebook supports, client_id and client_secret to be passed on the URL, we should add h

[2017-02-09 00:21] #214 closed

[2017-02-10 22:52] rakyll commented on #165
This bug should have been resolved by https://go-review.googlesource.com/c/23790/, please reopen if it is still an issue.

[2017-02-10 22:52] #165 closed

[2017-02-10 22:52] neelance opened #216 "clientcredentials: audience parameter not supported"
I would like to use the `clientcredentials` package for https://auth0.com/docs/api-auth/config/asking-for-access-tokens. Unfortunately that endpoint requires an `audience` parameter which is currently not supported.

I had a PR prepared at #215 because I didn't realize that this repo also follows the process via Gerrit. I respect that process for the main Go repo, but please understand that I don'

[2017-02-11 05:19] shurcooL commented on #216
I tried, but I don't think I can do it while preserving you as author of commit.

[code]

In any case, it'd be better if you made the CL, in case there's feedback, you could address review comments directly.

[2017-02-11 08:49] rakyll commented on #216
For CLA-related reasons, the original author is expected to open the CL themselves.

[2017-02-11 08:51] rakyll commented on #216
Re: audience

Audience is not a part of the OAuth 2.0 spec, we shouldn't add it as a field to the Config types. Though, we might think about giving users APIs so that they can modify the token URLs. Adding arbitrary query parameters to token URLs have been asked earlier.

[2017-02-11 14:56] neelance commented on #216
I just realized that I'll have to set up Gerrit again for a change that I want to get into the main Go repo soon. I'm already a contributor to the Go project so the CLA is already covered.

@rakyll Do we want to add those arbitrary query parameters at the `clientcredentials` level or some more generic one?

[2017-02-11 15:19] neelance opened #217 "it would be good to clearly indicate that this repo does not use pull requests"
Imho it is not very obvious that this project does not use pull requests. It is probably not only me, because the main Go repo has 58 closed pull requests whereas this repo has 65. Wanting to contribute and then having the PR being closed by the bot is a frustrating experience. There is the `CONTRIBUTING.md` file, but I suggest adding two measures that the main Go repo uses:

1. Adding a section t

[2017-02-13 18:48] rakyll commented on #217
@bradfitz, how do we open a PR and make sure it is not auto-closed by the bot similar to https://github.com/golang/go/pull/9220?

[2017-02-13 18:54] bradfitz commented on #217
I'm confused. Do you mean you want it to be auto-closed or not? It's already not, no?

[2017-02-13 18:55] rakyll commented on #217
I want to open a PR against this repo as a reminder that we don't accept PRs (similar to golang/go#9220). I don't want it to be auto closed by the bot. How do I do that?

[2017-02-13 18:56] rakyll commented on #217
Mailed https://go-review.googlesource.com/c/36914/.

[2017-02-13 18:57] bradfitz commented on #217
Modify x/build/cmd/pushback perhaps? Or just let it be auto-closed and then re-open it?

[2017-02-13 19:08] rakyll commented on #217
Reopening and locking worked, hope it won't be closed again by the bot in the future: https://github.com/golang/oauth2/pull/218.

[2017-02-13 19:08] neelance commented on #216
New CL here: https://go-review.googlesource.com/#/c/36880/

[2017-02-13 19:16] rakyll commented on #216
I was wondering if we can add something to oauth2.Endpoint like

[code]

[2017-02-13 19:17] rakyll commented on #216
Out of curiosity, is it possible to set a TokenURL with an `audience` query parameter?

[2017-02-13 19:34] neelance commented on #216
Good idea, but unfortunately it doesn't work. I just tested it with the Auth0 endpoint and it seems like it ignores query parameters when doing a POST request to the token endpoint.

Of course we could parse the parameters from `TokenURL` and add them to the POST payload, but that seems a bit ugly to me.

About `Endpoint`: There currently is no such thing in the `clientcredentials` package.

[2017-02-13 22:57] rakyll commented on #217
Oops, the bot closed it again: https://github.com/golang/oauth2/pull/218. I will create a CL against x/build/cmd/pushback at some point.

[2017-02-14 22:07] ahmetalpbalkan opened #219 "How to find out whether Token is refreshed and how to reach it?"
I am going through the pkg oauth2 docs and trying to figure out when a token expires:

0. how can I know Token is refreshed
1. how can I get access to the refreshed Token instance (so that I can save it)

Sorry if the answer is obvious but I can't seem to understand it from godoc. So far I found these two:

[code]

[code]

My guess is, when I use `config.Client(ctx, token)`, the `token` is replace

[2017-02-14 22:27] rakyll commented on #219
Dup of https://github.com/golang/oauth2/issues/84, let's keep the convo there. We need a notifier mechanism.

[2017-02-14 22:27] #219 closed

[2017-02-18 19:02] mmp opened #220 "client_id missing from token request with broken provider & no client secret"
When requesting a token from a broken provider (e.g. www.googleapis.com), if there is a client_id but not a client_secret, the client_id isn't included in the request generated by the oauth2 library, leading to a 400 response. This seems to have been introduced in 4464e7848382e6f39db55097f70e1460bdf944b3, and is contrary to the change description, so was presumably unintended.

The attached test p

[2017-02-18 20:35] TamalSaha opened #221 "Return response body for Exchange() method"
Hi,
We are trying to use this with our Slack Bot. The issue is that Slack returns the bot token using a non-conformat response.
https://api.slack.com/docs/oauth
[code]

This can be easily handled by lib users if Exchange() method also returns the full response body. Does this sound reasonable?

[2017-02-18 20:55] TamalSaha commented on #221
This info is available in token.raw.

[2017-02-18 20:55] #221 closed

[2017-02-19 14:10] neelance commented on #216
@rakyll How can we proceed here? I can change the CL if you prefer some different solution.

[2017-02-23 00:57] josephholsten commented on #186
@rakyll @adg anything you'd like me to do?

[2017-02-23 01:33] adg commented on #186
What @rakyll suggests sounds good to me. Whoever wants to do that can do it.

[2017-02-23 01:43] rakyll commented on #186
@josephholsten, I left comments on your change at https://go-review.googlesource.com/c/23834/ a while ago. Can you take a look at those?

[2017-02-27 15:46] josephholsten commented on #186
@rakyll sorry, I hadn't pushed my changes when I made that comment. Care to give it another look?

[2017-03-01 08:44] stiangrindvoll commented on #200
Hi @rakyll, i would actually like to see an example of this!
I tried adding similar header for client credentials flow, but find my requests flying wild in endless loop.

[2017-03-02 01:52] rakyll commented on #200
This is working for the 3-legged, and should work for the client credentials flow. Please open an issue if anything unexpected is happening.

[code]

[2017-03-02 09:45] stiangrindvoll commented on #200
Thank you @rakyll, this lead me in the right direction.
Your example should however pass the "hc" as a reference, as seen with how ContextClient handles the context value for HTTPClient.

e.g.
`
hc := &http.Client{Transport: &transport{}}
`

[code]

[2017-03-02 19:58] rakyll commented on #200
You are right, you are supposed to pass the pointer. I am going to add this as an example to the package, so we can have a defacto tested example.

[2017-03-02 20:16] rakyll opened #223 "all: find a better way to set a custom HTTP client"
Our current method of requiring users to pass an HTTP client in the current context is an abuse of context. We should find a better way set a custom HTTP client and deprecate the current method.

We can add a HTTPClient field to the Config types, but there are cases like `AppEngineTokenSource` where there is not a Config type and we have to break the current APIs to improve the situation.

[2017-03-07 02:32] tiffanyqi commented on #174
same issue. is there anyway to use the slackclient to taken in the token as an argument?

[2017-03-07 19:31] rakyll commented on #174
Is there a way to report this to Slack and asking them the honor the standard?

[2017-03-08 00:52] jboverfelt commented on #84
@rakyll I implemented your fix above in the thread where you define a custom transport in order to cache new tokens, and I think I'm missing something. Your first call to `c.Base.Source.Token()` will check if the current token is valid, and if it is expired, it will refresh it, returning the new token. It appears that unless the token expires in between the aforementioned first call to Token() and

[2017-03-08 08:18] bgentry commented on #84
I might be missing something, but it seems like this would be sufficient:

[code]

Ideally this would be placed directly between the `reuseTokenSource` and the `tokenRefresher` that are composed by `Config.TokenSource()`. But because `tokenRefresher` is not exposed directly, the simplest hack to achieve this would be:

[code]

Which has the following layered TokenSources:

* `ReuseTokenSource` bui

[2017-03-09 00:35] bgentry commented on #84
After trying out what I suggested, there was one minor problem with it. My function `f` would get called to be notified about a new token on the very first use due to the fact that the top-level `ReuseTokenSource` (built by `oauth2.NewClient()`) [is not provided with an initial token](https://github.com/golang/oauth2/blob/efb10a30610e617dbb17fc243f4cc61a8cfa2903/oauth2.go#L308), and would therefor

[2017-03-13 01:22] mmp commented on #220
Ping. Any chance of this being fixed?

[2017-03-13 17:59] #216 closed

[2017-03-13 18:05] rakyll commented on #220
I am going to create a CL right now.

[2017-03-13 20:11] #220 closed

[2017-03-15 17:32] #217 closed

[2017-03-17 18:31] curtisallen opened #224 "Okta IDP needs to be added to brokenAuthHeaderProviders list"
#### What version of Go are you using (go version)?
`go version go1.7.3 darwin/amd64`

#### What operating system and processor architecture are you using?
`macOS 10.12.1 darwin/amd64`

#### What did you do?
Attempt to use `oauth2.Exchange()` via [dex](https://github.com/coreos/dex/blob/master/connector/oidc/oidc.go)

#### What did you expect to see?
`internal.RetrieveToken` to return a Token when

[2017-03-17 18:50] ericchiang commented on #224
@curtisallen you can do this through https://godoc.org/golang.org/x/oauth2#RegisterBrokenAuthHeaderProvider

[2017-03-17 18:52] ericchiang commented on #224
This doesn't seem like an issue in golang.org/x/oauth2. Maybe open an issue on the dex issue tracker?

[2017-03-17 18:56] curtisallen commented on #224
@ericchiang thanks, I'll open an issue on dex. I missed that func `RegisterBrokenAuthHeaderProvider`

[2017-03-17 18:56] #224 closed

[2017-03-20 15:43] ericchiang commented on #166
FYI [Okta](https://www.okta.com/) has the same issue. @curtisallen pointed out in #224 that `https://*.okta.com` and `https://*.oktapreview.com` should be detected too.

[2017-03-21 00:33] #166 closed

[2017-03-21 01:34] #211 closed

[2017-03-23 05:25] adg opened #225 "google: provide DefaultTokenSourceFromJSON"
I have a JSON service account file downloaded from the Cloud Console and I'd like to be able to construct a default client based on its contents. With the code that's out there right now, I could do this:

[code]

Or I could write the file somewhere and set the environment variable and then use the `google.DefaultClient` function.

Both of those approaches are messy, and I'd prefer to avoid this i

[2017-03-23 08:01] broady commented on #225
This is useful enough that we added it to our client library options:
https://godoc.org/google.golang.org/api/option#WithServiceAccountFile

-1 for the prefix "Default" - that should be reserved for ADC, which this is not.

But you don't need all of that code you wrote. Use the poorly named JWTConfigFromJSON function:
https://godoc.org/golang.org/x/oauth2/google#JWTConfigFromJSON

[2017-03-23 08:26] adg commented on #225
https://godoc.org/golang.org/x/oauth2/google#JWTConfigFromJSON

I tried this initially but I got opaque permission errors. If you inspect the code, this doesn't do the same thing. That's how ended up here.  ☹️

[2017-03-23 17:48] rakyll commented on #225
@adg, JWTConfigFromJSON internally depends on `google.credentialsFile` the same way the DefaultClient does. If you are depending on a service account for ADC, these two flows should work the same. I am happy to diagnose what's wrong if you need help.

[2017-03-23 23:19] adg commented on #225
Ah my mistake, I was using `JWTAccessTokenSourceFromJSON` not `JWTConfigFromJSON`. Thanks for clearing up the confusion, and sorry for the noise.

[2017-03-23 23:19] #225 closed

[2017-03-23 23:26] broady commented on #225
Another function like `TokenSourceFromJSON` would be useful - we can detect the type based on the JSON, just like we do for ADC.

[2017-03-23 23:30] rakyll commented on #225
@broady, yup. credentialsFile already is capable of doing so but we don't export it.

TBH, this package is big, inconsistent and non-orthogonal now. I wished that we can break the APIs, we'd rename and reorg a few things.

[2017-03-23 23:35] adg commented on #225
Maybe a series of scenarios in the package comment would help.

If you're running on a Compute instance, use X.
If you have a JSON file you downloaded from the console, use Y.
etc

[2017-03-24 16:19] rakyll commented on #225
I will add more docs to navigate users better, thanks for the suggestion.

[2017-03-25 05:58] bmorton commented on #112
I found this issue via Google and wanted to note for posterity that this is supported now.  To get the `resource` param on the `AuthCodeURL` call, you can pass an `oauth2.AuthCodeOption` to `oauth2.AuthCodeURL()` as such:

[code]

You can also set `brokenAuthHeaderProviders` via [`oauth2.RegisterBrokenAuthHeaderProvider`](https://github.com/golang/oauth2/blob/7fdf09982454086d5570c7db3e11f360194830

[2017-04-05 02:14] broady opened #226 "oauth2: automatically retry token refreshes"
Maybe only feasible for known token endpoints, but here's a token refresh request we could have retried:

[code]

[2017-04-05 18:11] rakyll opened #227 "google: remove dependency to cloud.google.com/go/compute"
Duplicate the metadata package rather than  having a dependency to a large repo.

[2017-04-12 07:02] zxcvbn4038 opened #228 "Missing last step with Amazon Login"
I've got almost everything working with Amazon login, the config looks like this:

conf = &oauth2.Config{
  ClientID:     "AMAZON-CLIENT-ID",
  ClientSecret: "AMAZON-CLIENT-SECRET",
  RedirectURL:  "https://...",
  Scopes:       []string{"profile"},
  Endpoint: oauth2.Endpoint{
    AuthURL:  "https://www.amazon.com/ap/oa",
    TokenURL: "https://api.amazon.com/auth/O2/tokeninf",
   },
}

It makes

[2017-04-12 07:06] zxcvbn4038 commented on #228
Reading through again it also looks like the header:

[code]

Is also a supported method. [Developer Docs, pg 34](https://images-na.ssl-images-amazon.com/images/G/01/lwa/dev/docs/website-developer-guide._TTH_.pdf)

[2017-04-12 07:09] rakyll commented on #228
It seems like you are failing to retrieve a token before hitting the user profile. Where did you get the AuthURL and TokenURL?

[2017-04-12 07:19] rakyll commented on #228
Never mind, there are in the developer docs you have just linked.

[2017-04-12 07:21] rakyll commented on #228
Could you try the following? You are using the wrong token URL.

[code]

[2017-04-12 19:05] zxcvbn4038 commented on #228
@rakyll That was it, sharp eye spotting the typeo in TokenURL, everything works with it corrected. Thank you for the help!

[2017-04-12 19:05] #228 closed

[2017-04-12 23:28] rakyll commented on #228
Closed via https://github.com/golang/oauth2/commit/a6bd8cefa1811bd24b86f8902872e4e8225f74c4.

[2017-04-14 05:20] zxcvbn4038 opened #229 "Setting the User Agent for conf.Exchange()?"
It appears to me that the Reddit API is rate limiting me based on user agent.

I found an example of how to set the user agent when doing a client request here - https://github.com/golang/oauth2/issues/179

However, I'm getting rate limited on my call to conf.Exchange(). Is there a method of setting the transport used by this function?

[2017-04-15 06:29] rmichela commented on #179
@rakyll Can you be more explicit with your pseudocode? I'm not able to piece enough together to understand what you mean. Am I supposed to setup a context for calling Exchange()? If so, what am I supposed to put in it?

How do I associate a Transport with the call to Exchange()?

[2017-04-16 05:55] zxcvbn4038 commented on #229
Looks like there is an http client being passed in from someplace:

https://github.com/golang/oauth2/blob/7374b3f1ecc8adceb22d365168403eb328a845f4/internal/token.go#L167

[2017-04-16 18:07] zxcvbn4038 commented on #229
Ok, I found an example of how to do this buried in the test code. I was wondering why oauth was so popular when it was taking 6-12 seconds to do the token exchange, turns out that everyone was rate limiting requests with no user agent (the default). Once I started providing a unique user agent suddenly the exchanges happen almost instantly. This is also an example now of how to log the http header

[2017-04-18 18:28] rakyll commented on #179
@rmichela,

You can exchange with a custom HTTP client:

[code]

[2017-04-18 23:14] rmichela commented on #179
Thanks,
Here's what I've done. It seems to work. https://github.com/rmichela/go-reddit/blob/bd882abbb7496c54dbde66d92c35ad95d4db1211/authenticator.go#L117

[2017-04-28 19:18] vadimsht opened #230 "Support "Proof Key for Code Exchange" for Google OAuth2 endpoints"
Based on Google docs at https://developers.google.com/identity/protocols/OAuth2InstalledApp Google's OAuth2 end point now supports https://tools.ietf.org/html/rfc7636

What do you think about adding a support for it to this library?

It is possible now to pass code_challenge_method and code_challenge to AuthCodeURL via SetAuthURLParam, so this is fine. But there's no way currently to pass code_ver

[2017-05-07 07:20] goenning commented on #175
Hey @adg, can we have a bit more information on why it is out of scope? It is something that Twitter does not support? I couldn't find anything on this regard. Thanks!

[2017-05-08 02:11] rakyll commented on #175
Twitter provides an endpoint for Client Credentials OAuth 2.0 flow, https://dev.twitter.com/oauth/application-only, which is supported by this library. Twitter's OAuth1 service is not supported given this library is an implementation of the OAuth 2.0 spec.

[2017-05-18 07:07] bwplotka opened #234 "Oauth2: Support for providing scopes during Refresh token flow."
Hi, It is often required to provide scopes for refresh token flow. However I cannot pass any additional `url.Values` for `TokenSource.Token` https://github.com/golang/oauth2/blob/master/oauth2.go#L232

Is there any reason why `oauth2.Token()` method does not allow to provide that optional parameter? See: https://tools.ietf.org/html/rfc6749#section-6

What do you think about such change?
[code]

Ho

[2017-06-12 16:28] gam-phon commented on #84
I am using @hypnoglow solution. Thanks.

In python, requests-oauthlib. Passing a function, with a token argument, to be run if the token got refreshed.
[Reference](https://github.com/requests/requests-oauthlib/blob/master/requests_oauthlib/oauth2_session.py#L59)
[code]

[Example](https://github.com/requests/requests-oauthlib/blob/master/docs/examples/real_world_example_with_refresh.rst#refreshing-

[2017-06-13 07:51] k2wanko opened #236 "Cannot acquire token with LINE Login"
Token could not be acquired with error like the following.

I have fix code.
please check.

https://go-review.googlesource.com/c/44410/

[code]

[code]

[2017-06-21 07:03] arekkas opened #237 "Client id and secret must be x-www-form-urlencoded"
authentication scheme as defined in [RFC2617] to authenticate with
the authorization server. The client identifier is encoded using the
"application/x-www-form-urlencoded" encoding algorithm per
Appendix B, and the encoded value is used as the username; the client
password is encoded using the same algorithm and used as the
password. - [Source](https://tools.ietf.org/html/rfc6749#section-2.3.1)

H

[2017-06-21 07:12] arekkas commented on #237
[Here](https://github.com/arekkas/oauth2/commit/5cbaf9d1d95a5f59656130578dfb4b9bf4ba2037) is a proposed patch

[2017-06-26 21:57] odeke-em commented on #237
/cc @rakyll

[2017-06-26 22:04] rakyll commented on #237
There is an upcoming CL at https://go-review.googlesource.com/c/46473/.

[2017-06-29 00:11] voutasaurus opened #238 "internal: brokenAuthHeaderProviders missing https://login.windows.net"
1 + 2) Go environment:
[code]

3) What did you do?

- Registered and configured Azure AD application
- Modified https://github.com/coreos/go-oidc/blob/master/example/userinfo/app.go to use Azure AD application
- Ran webserver and navigated to http://localhost:5556/

4) Successful authentication via OAuth / OpenID Connect

5) Instead got:

[code]

I made this change to my project and it fixed the p

[2017-06-29 00:51] voutasaurus commented on #238
I submitted a fix
https://go-review.googlesource.com/c/47097/

[2017-06-29 03:27] #238 closed

[2017-06-29 18:56] voutasaurus commented on #238
My fix was for the wrong domain. Submitting a fix for my fix.

[2017-06-29 19:03] voutasaurus commented on #238
https://go-review.googlesource.com/c/47250/

[2017-07-04 17:30] joaquin386 commented on #112
@bmorton can you add a bit more on the code since I did this in python but in Golang i am struggling .... Thx

[2017-07-05 00:26] colezlaw opened #239 "Dealing with Broken expires_in values"
The API I'm dealing with does not use refresh tokens, but rather than eliding the `expires_in` value entirely, it comes back in the response as a JSON `null` value. The problem is *not* with this library per se (I've opened a ticket with the API maintainer to complain that they're not following the spec, which will break any compliant library).

The problem I'm getting is that `Exchange` is return

[2017-07-10 17:02] NexoMichael opened #240 "Empty context results in panic"
Hi,

After https://github.com/golang/oauth2/commit/626d87b99350690f6eb2b92c2f717221cdaf6f9a commit nil context used in Exchange call results in panic.
It is so because call in http.Do of ctxhttp library:

`resp, err := client.Do(req.WithContext(ctx))`

results in panic's if context is nil:
https://golang.org/src/net/http/request.go?s=11679:11738#L317

As result nil context is not allowed anymore i

[2017-07-14 12:33] thebod commented on #240
Hi,

nil-contexts are not allowed, see https://golang.org/pkg/context/.
That's why we did not include a check/fallback for nil-contexts, discussion: https://go-review.googlesource.com/c/45370/#message-eba1ad10e31b2fecb331cf539c323f7f61dfe2d6

Does this happen in custom code, or part of this library?

[2017-07-16 13:34] NexoMichael commented on #240
This happend in custom code. I completely understand that "nil" is something that should-not ever be used, but the issue is that used library behaviour changed without any significant notice which brake some code.

I think that issue should be closed cause nothing to be fixed here.

[2017-07-16 13:34] #240 closed

[2017-07-25 19:12] ahmetb opened #241 "google: Provide method to retrieve project ID configured on gcloud"
(moved from https://github.com/GoogleCloudPlatform/google-cloud-go/issues/707)

It looks like Go client libraries do not provide a method do to this. I've been shelling out to `gcloud` myself but not sure what's the way guaranteed to work. It would be great if this library can provide a method that will keep working.

On a side note, when I use the `FindCredentials()` method on my dev machine, whi

[2017-07-25 19:38] rakyll commented on #241
/cc @zombiezen

[2017-08-01 16:41] binarycrusader opened #242 "license copyright holder needs update"
In 2015, all of the .go source files were updated to say "The Go Authors", but the LICENSE files still says "oauth2 authors".

[2017-08-02 01:28] dimm0 opened #244 "cilogon.org should be added to the list of broken auth header providers"
### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?
amd64

### What did you do?
Used oauth2 library to authenticate against CILogon.org oauth2 OIDC

### What did you expect to see?
Authenticate successfully by sending client_id and client_secret in the request fields

### What did you see instead?
The fields wer

[2017-08-02 15:54] #242 closed

[2017-08-14 19:21] dimm0 commented on #244
The issue in CiLogon is being tracked by https://github.com/ncsa/OA4MP/issues/7

[2017-08-14 19:21] #244 closed

[2017-08-17 00:31] cmoad opened #245 "Salesforce tokens with undetermined expiration and unknown caching behavior"
I'm hitting a strange issue dealing with salesforce oauth tokens. They don't include an expiration because organization admins can adjust the session duration from 15 minutes to 24 hours. The approach to dealing with this is simply refreshing the token when you get an expired token error. I manually refresh the token and many times I get the same oauth token in the response, telling me that salesf

[2017-08-17 01:44] cmoad commented on #245
I found the problem and it wasn't cache. Ends up that you can't reliably reuse a `http.Request` and you should instead create a new one. The body wasn't being sent with the 2nd attempt request.

[2017-08-17 01:44] #245 closed

[2017-08-21 14:25] marcsantiago opened #246 "Supporting standard lib context"
For some projects I have to import `context` as well as `oldContext "golang.org/x/net/context"`

[2017-08-21 21:25] rakyll commented on #246
We unfortunately are still supporting 1.6 because a few critical libraries are stuck there. Why can't you just import context and pass it? context.Context satisfies "golang.org/x/net/context".Context.

[2017-08-24 13:14] borisroman commented on #166
Besides `https://*.okta.com` and `https://*.oktapreview.com` Okta also hands out OAuth endpoints on `https://*.okta-emea.com`.

[2017-08-31 22:33] CSEMike opened #249 "Token expiration tolerance should be configurable"
The expiryDelta used to calculate token validity is fixed at 10 seconds.
https://github.com/golang/oauth2/blob/master/token.go#L21

This issue tracks making this value configurable. Why? To support scenarios where the token may be not be used until >10s in the future.

Token validity is used to refresh cached values, e.g.,
https://github.com/golang/oauth2/blob/master/oauth2.go#L260

An alternative

[2017-08-31 22:47] esbie commented on #227
Heads up I ran into an issue with this while running `dep ensure`.

My project imports `golang.org/x/oauth2` and `golang.org/x/oauth2/github`. dep vendors everything under oauth2 including /google (but then weirdly isn't vendoring `cloud.google.com/go/compute` and its many many dependencies).

[2017-09-12 21:29] #237 closed

[2017-09-27 13:17] j0hnsmith commented on #84
Here's my solution, it's mostly `ReuseTokenSource` with @bgentry's notify func (also used to persist the initial token).

[code]

Usage
[code]

[2017-09-28 14:23] genesis32 opened #251 "ClientID and ClientSecret should not be escaped."
**What version of Go are you using (go version)?**
1.8.3

**What operating system and processor architecture are you using?**
osx/x86
linux/x86

What did you do?
I'm using the clientcredential.Config with make an http.Client

[code]

If the `ClientID` or `ClientSecret` contains characters that get changed by url encoding the authentication fails.

What did you expect to see?
A successful authentic

[2017-09-28 14:31] #251 closed

[2017-09-28 14:49] jfcote87 commented on #84
Perhaps a caching solution should not be part of the library, people will keep coming up with additional cases.  Rather than hiding the refresh functionality, create a NewToken func on `oauth.Config`  would allow developers to create their own caching tokensources.

[code]
Add the same functionality to `jwt.Config` and `clientcredentials.Config`.  @j0hnsmith's example would then look more like the

[2017-10-17 01:34] acomagu opened #252 "Foursquare not accept Authorization header token"
I'm trying Foursquare API and it fails.
## What version of Go are you using (go version)?
Go 1.9.1
## What operating system and processor architecture are you using?
linux/amd64
## What did you do?
I tried Foursquare API with a bit code:
[code]

It can be reproduced with curl:
[code]

The token is valid because give token as URI parameter and it success.

[code]

## What did you expect to see?
JSO

[2017-10-19 01:52] pvdvreede commented on #170
Is this referring to the implicit grant? where the response_type is set to token or id_token and the redirect contains the token or id_token rather than an auth code? eg: https://auth0.com/docs/api-auth/tutorials/implicit-grant

It seems as though the response_type is hardcoded to `code` so doesnt allow this flow at the moment...

[2017-10-24 11:24] #122 closed

[2017-10-24 14:25] narqo commented on #249
👍  for the issue.

My usecase is to force refresh stored tokens and I need to have custom `expiryDelta`.

Another possible solution might be to expose `tokenRefresher`, so one would have much more control over the refreshment process.

[2017-10-29 11:29] engr-Eghbali opened #254 "unrecognized import path"
**function used:**
`go get golang.org/x/oauth2/google`
**expect:**
download package
**what happened?**
`
package cloud.google.com/go/compute/metadata: unrecognized import path "cloud.google.com/go/compute/metadata" (parsing cloud.google.com/go/compute/metadata: XML syntax error on line 9: expected /> in element)
`
**thanks for helping**

[2017-10-29 20:40] rakyll commented on #254
/cc @zombiezen

[2017-10-30 08:12] engr-Eghbali commented on #254
OH god!
seems like serving repository from that path is missing, I find the repository in github and clone it into my $GOPATH/src then Move the container of project to go.

[2017-10-30 14:21] zombiezen commented on #254
I attempted to reproduce using the following:

[code]

And I could not see the failure you described.  I inspected the HTML at https://cloud.google.com/go/compute/metadata and could not see fault.

@engr-Eghbali Did you use vanilla `go get` or another dep management tool?  I've encountered similar failures on a different Go repository when a user was using gvt (see FiloSottile/gvt#31).

[2017-10-30 15:52] engr-Eghbali commented on #254
@zombiezen No I did not...
But I just understood it might becaused of google sanctions in some countries,(just see 403 error on
https://cloud.google.com/go/compute/metadata )
whats your idea?
(thanks to cooperating with me,god damn governments!)

[2017-10-30 16:37] andybons commented on #254
Hi @engr-Eghbali! Can you paste the output of

[code]

Thanks

[2017-10-30 17:26] engr-Eghbali commented on #254
@andybons sure...

`HTTP/1.1 403 Forbidden
Content-Type: text/html; charset=UTF-8
Referrer-Policy: no-referrer
Content-Length: 1599
Date: Mon, 30 Oct 2017 17:24:49 GMT
Alt-Svc: quic=":443"; ma=2592000; v="41,39,38,37,35"

<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 403 (Forbidden)!!1</tit

[2017-11-19 03:49] tmc opened #255 "Google: support creating credentials that act as domain-wide delegation of authority"
Supporting generating tokens via https://www.googleapis.com/oauth2/v4/token would be helpful.

[2017-11-20 19:44] jchv opened #256 "OAuth2: Ability to specify "audience" parameter to token refresh"
1. **What version of Go are you using (`go version`)?**

[code]

2. **What operating system and processor architecture are you using?**

    Windows 10, AMD64

3. **What did you do?**

    This is related to [kubernetes/kubernetes#56063](https://github.com/kubernetes/kubernetes/issues/56063). When refreshing a Google OIDC token, the audience apparently gets lost if it isn't explicitly stated.

4.

[2017-11-22 15:07] hexadecy opened #257 "Azure AD package"
More useful than the Microsoft package.
[code]

[2017-11-22 22:43] rakyll commented on #257
I will create a change, thanks.

[2017-11-22 22:46] rakyll commented on #257
I have one question actually before sending out the change. How does this differ from the microsoft package? Do Azure services require a different endpoint?

[2017-11-22 22:55] hexadecy commented on #257
https://developer.microsoft.com/en-us/graph/docs/concepts/auth_overview
You must use Azure AD for Graph explorer or Office 365 REST API, more work related

Login live is more for personnal Outlook Account ect...

[2017-11-23 11:11] tilinna commented on #138
This worked for us on Go 1.9.2.
[code]

[2017-11-23 15:09] sahilahmadlone commented on #256
Can the ticket be assigned to me? I have a nice experience with OAuth with scala.

[2017-11-23 18:50] jchv commented on #256
Well one issue that needs to be addressed either way is whether or not it should be done at all. The Google OIDC implementation is decidedly going against spec here with this, the audience should never change during a refresh.

[2017-11-23 21:36] sahilahmadlone commented on #256
Audience claim is optional and is totally left to the implementer . SO if one wants it they should not be limited.

[2017-11-28 08:25] maxibanki opened #258 "internal: Fix unit test TestTokenExpiry"
Currently the second test case of the test TestTokenExpiry fails:

https://github.com/golang/oauth2/blob/f95fa95eaa936d9d87489b15d1d18b97c1ba9c28/token_test.go#L35-L51

When you change `now.Add(expiryDelta)` to `now.Add(expiryDelta + time.Nanosecond)` it succeeds, but I think this is not best practise.

[2017-11-28 21:33] narqo commented on #154
It's been two years since the original issue was described, but at least current version of Facebooks's API docs has a topic about obtaining long-lived access tokens on the server-side. See "Generating Long-Lived Tokens from Server-Side Long-Lived Tokens" https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension#long-via-code

@rakyll @adg do you still think oauth2

[2017-11-28 23:42] rakyll commented on #154
/cc @zombiezen

[2017-11-30 17:24] tiziano88 opened #259 "Support specifying AuthCodeOption in PasswordCredentialsToken"
Our use case is to pass additional URL parameters as part of the password credentials grant. Currently we need to hook into the context, create a `RoundTripper` that attaches extra args to the request, and inject that into the call to `PasswordCredentialsToken`.

If it supported options similarly to `AuthCodeURL`, this would be trivial to do from the client point of view instead.

I propose modify

[2017-11-30 22:34] tiziano88 commented on #259
Also it would be good to support adding custom headers to auth requests (useful for tracing or custom extensions). This could be modelled as an additional AuthCodeOption impl (with some changes to the interface).

We are happy to contribute those changes if you are willing to merge them, but if not just let us know and we'll create our own fork instead. Thanks!